﻿@{
    ViewBag.Title = "試験反申請の照会と審査";
}
@using Web_app.Models;

<link href="~/Content/css/CustomCss.css" rel="stylesheet" />
<link href="~/Content/Datatable11019/css/jquery.dataTables.min.css" rel="stylesheet" />

@*<form id="mainForm" method="post" action="#" enctype="multipart/form-data">
        @TempData["Message"].ToString();



        <input id="DateFrom" class="form-control custom-textbox full-with" data-inputmask="'alias': 'yyyy/mm/dd'" data-mask="" style=" width: 35%;margin-right: 20px;" type="text" />



        <select name="Search客先名" class="form-control custom-textbox full-with chose-customer">
        </select>

        <input name="Search加工番" class="form-control custom-textbox full-with" type="text" />
    </form>
            <table id="GridExperiment" class="table table-bordered table-striped dataTable">
                <thead>
                    <tr role="row">
                        <th class="sorting" colspan="1" style="width: 80px;">依頼No</th>
                        <th class="sorting" colspan="1" style="width: 80px;">申請日 </th>
                        <th class="sorting" colspan="1" style="width: 105px;">客先名 </th>
                        <th class="sorting" colspan="1" style="width: 105px;">
                            客先担当
                        </th>

                        <th class="sorting" colspan="1" style="width: 105px;">
                            客先注番
                        </th>

                        <th class="sorting" colspan="1" style="width: 105px;">
                            加工番
                        </th>
                        <th class="sorting" colspan="1" style="width: 105px;">
                            製品品番

                        </th>
                        <th class="sorting" colspan="1" style="width: 105px;">
                            生機品番
                        </th>
                        <th class="sorting" colspan="1" style="width: 105px;">
                            部門名
                        </th>


                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>

        <form id="formExport" method="post" enctype="multipart/form-data" action="@(Url.Action("Experiment_Export", "Experiment"))">
        </form>
        <form id="formInput" method="post" enctype="multipart/form-data" action="@(Url.Action("add", "Experiment"))">
            @Html.AntiForgeryToken()

            @Html.CheckBoxFor(model => model.無効フラグ, new { Name = "無効フラグ", @style = "width:82%" })

            @Html.TextBoxFor(model => model.依頼No, new { Name = "依頼No", @class = "form-control custom-textbox full-with disable", @readonly = "readonly" })
            @Html.ValidationMessageFor(m => m.依頼No, "", new { @class = "text-red" })
            @Html.DropDownListFor(model => model.部門CD, new SelectList(Model.部門名s, "部門ｃｄ", "部門名", 0), "", new { Name = "部門CD", @id = "departmentId", @class = "form-control custom-textbox", @style = " width: 82%; ", @onchange = "GetMeasurementPattern(this.value);" })
            @Html.TextAreaFor(model => model.試験目的, new { Name = "試験目的", id = "試験目的", @class = "form-control custom-textbox full-with", rows = "5", @style = " width: 91%; " })
        </form>*@

@*@Html.Partial("ModalQuanlity", Model)*@
@section ViewSpecificJavascript
    {

    <script src="~/Content/Datatable11019/js/jquery.dataTables.min.js"></script>
    <script src="~/Content/Datatable11019/js/dataTables.bootstrap4.min.js"></script>
    <link href="~/Content/Select2-403/css/select2.min.css" rel="stylesheet" />
    <script src="~/Content/Select2-403/js/select2.full.min.js"></script>
    <script src="~/Content/Experiment/Experiment.js"></script>
    <script src="~/Content/js/index.js"></script>

    <script>

        $(document).ready(function () {
            $(".chose-customer").select2({
                ajax: {
                    url: '/Experiment/Customer_Read',
                    width: 'resolve',
                    type: 'POST',
                    dataType: 'json',
                    data: function (params) {
                        return {
                            name: params.term,
                            requestForm: "edit"
                        };
                    },
                    processResults: function (data) {
                        return { results: data.DataList };
                    }
                }
            });

            $(".chose-department").select2({
                ajax: {
                    url: '/Experiment/Department_Read',
                    width: 'resolve',
                    type: 'POST',
                    dataType: 'json',
                    data: function (params) {
                        return {
                            departmentNo: params.term,
                            requestForm: "edit"
                        };
                    },
                    processResults: function (data) {
                        return { results: data.DataList };
                    }
                }
            });

            $(".chose-salesstaff").select2({
                ajax: {
                    url: '/Experiment/Salesstaff_Read',
                    width: 'resolve',
                    type: 'POST',
                    dataType: 'json',
                    data: function (params) {
                        return {
                            No: params.term,
                            requestForm: "edit"
                        };
                    },
                    processResults: function (data) {
                        return { results: data.DataList };
                    }
                }
            });

        });

        //Gen datatable
        //$('#GridExperiment').empty();
        $(function () {

            $("#GridExperiment").DataTable({
                "lengthMenu": [[5, 20, 50, 100], [5, 20, 50, 100]],
                "serverSide": true,
                "filter": false,
                //"orderMulti": false,
                "orderable": false,
                "pageLength": 5,
                //"scrollX": true,
                "dom": '<"top"i>rt<"bottom"flp><"clear">',
                "language": {
                    "lengthMenu": "1ページに _MENU_ 件を表示します。",
                    "zeroRecords": "データなし",
                    "info": "page _PAGE_ of _PAGES_",
                    "infoEmpty": "データなし",
                    "infoFiltered": "(filtered from _MAX_ total records)",
                    "info": "件中 _START_ ~ _END_件 / _TOTAL_ 全",
                    "oPaginate": {
                        "sPrevious": "プレビュー",
                        "sNext": "次"
                    }
                },
                "ajax": {
                    "url": "/Experiment/get-experiments",
                    "type": "POST",
                    "datatype": "json",
                    "data": function (d) {
                        var para = getParameter();
                        return $.extend({}, d, {
                            "ApplicationDateFrom": para.ApplicationDateFrom,
                            "ApplicationDateTo": para.ApplicationDateTo,
                            "部門CD": para.部門CD,
                            "客先CD": para.客先CD,
                            "客先注番": para.客先注番,
                            "加工番": para.加工番,
                            "申請者": para.申請者,
                            "依頼No": para.依頼No,
                            "製品品番": para.製品品番,
                            "生機品番": para.生機品番,
                            "Search無効フラグ": para.Search無効フラグ
                        });
                    }
                },
                "columnDefs": [{
                    "targets": 8,
                    "orderable": false
                },{
                    "targets": 7,
                    "orderable": false
                },{
                    "targets": 6,
                    "orderable": false
                },{
                    "targets": 5,
                    "orderable": false
                },
                {
                    "targets": 4,
                    "orderable": false
                },
                {
                    "targets": 3,
                    "orderable": false
                },
                {
                    "targets": 2,
                    "orderable": false
                },
                {
                    "targets": 1,
                    "orderable": false
                }],
                "order": [[0, 'asc']],
                "columns": [
                    { "data": "依頼No", "name": "依頼No" },
                    { "data": "申請日", "name": "申請日" },
                    { "data": "Display客先名", "name": "Display客先名" },
                    { "data": "客先担当", "name": "客先担当" },
                    { "data": "客先注番", "name": "客先注番" },
                    { "data": "加工番", "name": "加工番" },
                    { "data": "製品品番", "name": "製品品番" },
                    { "data": "生機品番", "name": "生機品番" },
                    { "data": "Display部門名", "name": "Display部門名" }
                ]
            });
        });
        function getParameter() {
            return {

                ApplicationDateFrom: $("#DateFrom").val(),
                ApplicationDateTo: $("#DateEnd").val(),
                部門CD: $("select[name=Search部門CD]").val(),
                客先CD: $('select[name=Search客先名]').val(),
                客先注番: $("input[name=Search客先注番]").val(),
                加工番: $("input[name=Search加工番]").val(),
                申請者: $('select[name=Search申請者]').val(),
                依頼No: $("input[name=Search依頼No]").val(),
                製品品番: $("input[name=Search製品品番]").val(),
                生機品番: $("input[name=Search生機品番]").val(),
                Search無効フラグ: $("input[type=checkbox][id=Search無効フラグ]:checked").val(),
            }
        }

        $(document).ready(function () {


            var table = $('#GridExperiment').DataTable();
            //Get RequestNo when select row
            $('#GridExperiment tbody').on('click', 'tr', function () {
                if ($(this).hasClass('selected')) {
                    $(this).removeClass('selected');
                }
                else {
                    table.$('tr.selected').removeClass('selected');
                    $(this).addClass('selected');
                }
                var data = table.row(this).data();

                $("#ExperimentNo").val(data["依頼No"]);

                $.ajax({
                    type: 'POST',
                    contentType: 'application/json; charset=utf-8',
                    url: '/Experiment/get-info-experiment',
                    data: JSON.stringify({ requestNo: data["依頼No"] }),
                    dataType: 'json',

                    success: function (result) {
                        $("input[name=依頼No]").val(data["依頼No"]);
                        GetMeasurementPattern(result.result.部門CD);
                        $("#測定パターン").val(result.result.測定パターン);
                        $("input[name=申請日]").val(result.result.申請日);
                        $("select[name=部門CD]").val(result.result.部門CD);
                        var $newOption = $("<option selected='selected'></option>").val(result.result.客先CD).text(result.result.客先CD + "- " + result.result.Display客先名)
                        $("#客先名").append($newOption).trigger('change');
                        $("select[name=申請者]").val(result.result.申請者);
                        $("input[name=客先注番]").val(result.result.客先注番);
                        $("input[name=客先担当]").val(result.result.客先担当);
                        $("input[name=生機品番]").val(result.result.生機品番);
                        $("input[name=製品品番]").val(result.result.製品品番);
                        $("input[name=加工内容]").val(result.result.加工内容);
                        $("input[name=色水準01]").val(result.result.色水準01);
                        $("input[name=色水準05]").val(result.result.色水準05);
                        $("input[name=色水準09]").val(result.result.色水準09);
                        $("input[name=色水準02]").val(result.result.色水準02);
                        $("input[name=色水準06]").val(result.result.色水準06);
                        $("input[name=色水準10]").val(result.result.色水準10);
                        $("input[name=色水準03]").val(result.result.色水準03);
                        $("input[name=色水準07]").val(result.result.色水準07);
                        $("input[name=色水準04]").val(result.result.色水準04);
                        $("input[name=色水準08]").val(result.result.色水準08);
                        $("textarea[name=試験目的]").val(result.result.試験目的);
                        $("textarea[name=技術への連絡事項]").val(result.result.技術への連絡事項);
                        $("input[name=客先希望納期]").val(result.result.客先希望納期);
                        $("input[name=技術回答納期]").val(result.result.技術回答納期);
                        $("input[name=客先希望工賃]").val(result.result.客先希望工賃);
                        $("input[name=加工内容]").val(result.result.加工内容);
                        $("input[name=見積工賃]").val(result.result.見積工賃);
                        $("select[name=新規置換]").val(result.result.新規置換);
                        $("input[name=シーズン]").val(result.result.シーズン);
                        $("input[name=加工番]").val(result.result.加工番);
                        $('#departmentId').val(result.result.部門CD);

                        $("input[name=用途]").val(result.result.用途);
                        $("textarea[name=所見]").val(result.result.所見);
                        $("textarea[id=commentManager]").val(result.result.結果コメント);
                        $("input[name=置換注意点]").val(result.result.置換注意点);
                        $("input[name=展示会用]").val(result.result.展示会用);
                        $("input[name=展示会予定]").val(result.result.展示会予定);
                        $("input[name=販売想定数量]").val(result.result.販売想定数量);
                        $("input[name=販売開始時期]").val(result.result.販売開始時期);
                        $("input[name=販売利益率]").val(result.result.販売利益率);
                        $("input[name=客へ回答]").val(result.result.客へ回答);
                        $("input[name=試験工賃]").val(result.result.試験工賃);
                         $("input[name=技術担当]").val(result.result.技術担当);

                        if (result.result.無効フラグ == true) {
                            $("input[type='checkbox'][name=無効フラグ]").iCheck('check');
                        }
                        else {
                            $("input[type='checkbox'][name=無効フラグ]").iCheck('uncheck');
                        }

                        GetQualityPattern(result.result.ListCheckQuality, result.result.測定パターン,data["依頼No"]);


                        $("#btnUpdate").attr("disabled", false);

                    }
                });





            });
            // func button search
            $('#btnSearch').click(function () {
                $("#ExperimentNo").val("");
                table.draw();
            });
            $('#btnInsert').click(function () {
                $("input[name=依頼No]").val("");
            });

              $('#btnExport_form').click(function () {
                var RequestNo = $("#ExperimentNo").val();
                if (RequestNo != null && RequestNo != "") {
                    var data = {
                        requestNo: RequestNo,
                    };
                    var dataToSend = JSON.stringify(data);
                     $.ajax({
                    type: 'POST',
                    contentType: 'application/json; charset=utf-8',
                    url: '@Url.Action("ExportExcelBusiness","Export")',
                     dataType: "json",
                     data: dataToSend,
                     contentType: "application/json; charset=utf-8",
                         success: function (result) {
                           window.location = '/Export/Download';
                    }
                });
                }

            });

             $("#formExport").submit(function (eventObj) {
                      $("#formExport").find(":hidden").remove();
                    var para = getParameter();
                    $("<input />").attr("type", "hidden")
                        .attr("name", "ApplicationDateFrom")
                        .attr("value", para.ApplicationDateFrom)
                        .appendTo("#formExport");

                    $("<input />").attr("type", "hidden")
                        .attr("name", "ApplicationDateTo")
                        .attr("value", para.ApplicationDateTo)
                        .appendTo("#formExport");

                    $("<input />").attr("type", "hidden")
                        .attr("name", "部門CD")
                        .attr("value", para.部門CD)
                        .appendTo("#formExport");

                    $("<input />").attr("type", "hidden")
                        .attr("name", "客先CD")
                        .attr("value", para.客先CD)
                        .appendTo("#formExport");

                    $("<input />").attr("type", "hidden")
                        .attr("name", "客先注番")
                        .attr("value", para.客先注番)
                        .appendTo("#formExport");

                    $("<input />").attr("type", "hidden")
                        .attr("name", "加工番")
                        .attr("value", para.加工番)
                        .appendTo("#formExport");

                    $("<input />").attr("type", "hidden")
                        .attr("name", "申請者")
                        .attr("value", para.申請者)
                        .appendTo("#formExport");

                    $("<input />").attr("type", "hidden")
                        .attr("name", "依頼No")
                        .attr("value", para.依頼No)
                        .appendTo("#formExport");

                    $("<input />").attr("type", "hidden")
                        .attr("name", "製品品番")
                        .attr("value", para.製品品番)
                        .appendTo("#formExport");

                    $("<input />").attr("type", "hidden")
                        .attr("name", "生機品番")
                        .attr("value", para.生機品番)
                     .appendTo("#formExport");

                  $("<input />").attr("type", "hidden")
                    .attr("name", "Search無効フラグ")
                    .attr("value", para.Search無効フラグ)
                    .appendTo("#formExport");

                    return true;
                });
            $('#btnExport_data_search').click(function () {
                $("#formExport").submit();

             });
            // func Apply, reject của trưởng phòng
            $('#btnApply').click(function () {
                var RequestNo = $("#ExperimentNo").val();
                if (RequestNo != null && RequestNo != "") {
                    var data = {
                        apply: true,
                        no: RequestNo,
                        comment: $("#commentManager").val()
                    };
                    var dataToSend = JSON.stringify(data);
                     $.ajax({
                    type: 'POST',
                    contentType: 'application/json; charset=utf-8',
                    url: '@Url.Action("SetApply","Experiment")',
                     dataType: "json",
                     data: dataToSend,
                     contentType: "application/json; charset=utf-8",
                         success: function (result) {
                             if (result.result == true) {
                                 window.location.href = "/Experiment/Add";
                             }
                    }
                });
                }

            });



              $('#btnReject').click(function () {
                var RequestNo = $("#ExperimentNo").val();
                if (RequestNo != null && RequestNo != "") {
                    var data = {
                        apply: false,
                        no: RequestNo,
                        comment: $("#commentManager").val()
                    };
                    var dataToSend = JSON.stringify(data);
                     $.ajax({
                    type: 'POST',
                    contentType: 'application/json; charset=utf-8',
                    url: '@Url.Action("SetApply","Experiment")',
                     dataType: "json",
                     data: dataToSend,
                     contentType: "application/json; charset=utf-8",
                         success: function (result) {
                             if (result.result == true) {
                                 window.location.href = "/Experiment/Add";
                             }
                    }
                });
                }

            });

        });
    </script>
}

