﻿
@{
    ViewBag.Title = "Menu";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}
@using Web_app.Models;
@model MenuViewModel


<div class="page-header card">
    <div class="row align-items-end">
        <div class="col-lg-8">
            <div class="page-header-title">
                <i class="feather icon-server bg-c-blue"></i>
                <div class="d-inline">
                    <h5>Quản trị Menu trên trang</h5>
                    <span>Thêm, sửa, xóa một Menu</span>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="page-header-breadcrumb">
                @if (TempData["MessageSuccess"] != null)
                {
                    <div class="alert alert-success icons-alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <i class="icofont icofont-close-line-circled text-white"></i>
                        </button>
                        <strong>Thông báo!</strong> @TempData["MessageSuccess"].ToString()
                    </div>
                }
                @if (TempData["MessageError"] != null)
                {
                    <div class="alert alert-danger icons-alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <i class="icofont icofont-close-line-circled text-white"></i>
                        </button>
                        <strong>Thông báo!</strong> @TempData["MessageError"].ToString()
                    </div>
                }
                <div id="MesageDelete" class="alert alert-info background-info" style="display:none">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <i class="icofont icofont-close-line-circled"></i>
                    </button>
                    <p><strong>Thông báo!</strong> Xóa thông tin thành công</p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="pcoded-inner-content">
    <div class="main-body">
        <div class="page-wrapper">

            <div class="page-body">
                <div class="card">
                    <ul>
                        <li style="float:left">
                            <div class="card-header">
                                <h5>Danh sách menu thuộc các vị trí trên trang</h5>
                            </div>
                        </li>
                        <li style="float:right">
                            <div class="card-header">
                                <button class="btn btn-primary btn-round waves-effect waves-light" onclick="ShowModalAdd();">Thêm mới</button>
                            </div>
                        </li>
                    </ul>

                    <div class="card-block" style="padding-top:0">
                        <div class="dt-responsive table-responsive">
                            <div id="multi-colum-dt_wrapper" class="dataTables_wrapper dt-bootstrap4">
                                <div class="row">
                                    <div class="col-xs-12 col-sm-12">
                                        <table id="ListMenu" class="table table-striped table-bordered nowrap dataTable">
                                            <thead>
                                                <tr role="row">
                                                    <th class="sorting" tabindex="0" aria-controls="multi-colum-dt" rowspan="1" colspan="1" style="width: 90px;">Id</th>
                                                    <th class="sorting" tabindex="0" aria-controls="multi-colum-dt" rowspan="1" colspan="1">Tiêu đề menu</th>
                                                    <th class="sorting" tabindex="0" aria-controls="multi-colum-dt" rowspan="1" colspan="1">Hình ảnh</th>
                                                    <th class="sorting" tabindex="0" aria-controls="multi-colum-dt" rowspan="1" colspan="1">Link</th>
                                                    <th class="sorting" tabindex="0" aria-controls="multi-colum-dt" rowspan="1" colspan="1">Vị trí hiển thị</th>
                                                    <th class="sorting" tabindex="0" aria-controls="multi-colum-dt" rowspan="1" colspan="1" style="width: 90px;">Kích hoạt</th>
                                                    <th class="sorting" tabindex="0" aria-controls="multi-colum-dt" rowspan="1" colspan="1" style="width: 50px;">Chức năng</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                            </tbody>
                                            <tfoot>

                                            </tfoot>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </div>
</div>
@Html.Partial("ModalMenu", Model)
@section ViewSpecificJavascriptAdmin
    {
    <script src="~/Content/Datatable11019/js/jquery.dataTables.min.js"></script>
    <script src="~/Content/Datatable11019/js/dataTables.bootstrap4.min.js"></script>
    <link href="~/Content/Select2-403/css/select2.min.css" rel="stylesheet" />
    <script src="~/Content/Select2-403/js/select2.full.min.js"></script>
    <script src="~/Areas/Admin/Css/js/IndexAdmin.js"></script>
    <script src="~/Areas/Admin/Css/js/Menu.js"></script>
    <script src="~/Content/ckeditor/ckeditor.js"></script>
    <script>
        CKEDITOR.replace("Detail");
         function ShowModalAdd() {
            $("#Location").val("");
            $("input[name=Title]").val("");
            $("#Location").val("0");
            $("#KieuLK").val("0");
            $("input[name=Link]").val("");
            $("#Url").val("");
            $("#AnhDaiDien").attr('src', "");
            $("#Image").val("");
             $("#Active").prop("checked", true);
             CKEDITOR.instances['Detail'].setData("");
            $("input[name=OrderMenu]").val("");
            $('#LinkURL').css('display', 'none');
            $('#NoiDung').css('display', 'none');
            $('#LienKet').css('display', 'none');
            $("#ParentId").empty();
            var defaultnewOption = $("<option></option>").val("0").text("--- Chọn menu cha ---")
            $("#ParentId").append(defaultnewOption).trigger('change');
            var list = @Html.Raw(Json.Encode(this.ViewBag.ListParents));
            for (i = 0; i < list.length; ++i) {
                var $newOption = $("<option></option>").val(list[i].Id).text(list[i].Title)
                $("#ParentId").append($newOption).trigger('change');
            }
            $('#modal-menu').modal('show');
        }
    </script>
}

