﻿
@using Web_app.Models;
@model MenuViewModel
<style>
    .form-group {
        margin-bottom: 1.25em;
        float: left;
        width: 100%;
    }
</style>
<form action="/Admin_Menu/Add_Menu" method="post">
    <input id="Id" name="Id" type="hidden" />
    <div class="modal fade md-effect-11" id="modal-menu" role="dialog" style="z-index: 1050; display: none;" aria-hidden="true">
        <div class="modal-dialog modal-lg" style="max-width: 70%;">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Thêm mới, chỉnh sửa menu</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
          
                <div class="modal-body">
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label">Menu cha</label>
                        <div class="col-sm-10">
                            @Html.DropDownListFor(model => model.ParentId, new SelectList(Model.Parents, "Id", "Title", 0), "--- Chọn menu cha ---", new { Name = "ParentId", @id = "ParentId", @class = "form-control" })
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label">Tên menu</label>
                        <div class="col-sm-10">
                            <input type="text" name="Title" class="form-control" />
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label">Chọn vị trí</label>
                        <div class="col-sm-10">
                            <select class="form-control" id="Location" name="Location">
                                <option value="0">--- Chọn vị trí ---</option>
                                <option value="1">Đầu trang</option>
                                <option value="2">Chân trang</option>
                                <option value="3">Menu trái</option>
                                <option value="4">Menu phải</option>
                            </select>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label">Chọn kiểu liên kết</label>
                        <div class="col-sm-10">
                            <select class="form-control" id="KieuLK" onchange="SelectMenu(this.value);">
                                <option value="0">--- Chọn kiểu liên kết ---</option>
                                <option value="1">Link URL</option>
                                <option value="2">Kiểu nội dung</option>
                                <option value="3">Kiểu liên kết</option>
                            </select>
                        </div>
                    </div>

                    @if (!string.IsNullOrEmpty(Model.Link))
                    {
                        <div class="form-group row" id="LinkURL">
                            <label class="col-sm-2 col-form-label">Link liên kết</label>
                            <div class="col-sm-10" style="float:right">
                                @Html.TextBoxFor(model => model.Link, new { Name = "Link", @class = "form-control" })
                            </div>
                        </div>
                    }
                    else
                    {
                        <div class="form-group row" id="LinkURL" style="display:none">
                            <label class="col-sm-2 col-form-label">Link liên kết</label>
                            <div class="col-sm-10" style="float:right">
                                <input type="text" name="Link" class="form-control">
                            </div>
                        </div>
                    }
                    @if (!string.IsNullOrEmpty(Model.Detail))
                    {
                        <div class="form-group row" id="NoiDung">
                            <label class="col-sm-2 col-form-label">Nội dung</label>
                            <div class="col-sm-10" style="float:right">
                                @Html.TextAreaFor(model => model.Detail, new { Name = "Detail", id = "Detail", @class = "form-control", rows = "10" })
                            </div>
                        </div>
                    }
                    else
                    {
                        <div class="form-group row" id="NoiDung" style="display:none">
                            <label class="col-sm-2 col-form-label">Nội dung</label>
                            <div class="col-sm-10" style="float:right">
                                <textarea id="Detail" name="Detail" class="form-control" rows="10" cols="20"></textarea>
                            </div>
                        </div>
                    }
                    @if (!string.IsNullOrEmpty(Model.Detail))
                    {
                        <div class="form-group row" id="LienKet">
                            <label class="col-sm-2 col-form-label">Link liên kết</label>
                            <div class="col-sm-10" style="float:right">
                                @Html.DropDownListFor(model => model.Url, new SelectList(Model.Urls, "Url", "Name", 0), "", new { Name = "Url", @id = "Url", @class = "form-control" })
                            </div>
                        </div>
                    }
                    else
                    {
                        <div class="form-group row" id="LienKet" style="display:none">
                            <label class="col-sm-2 col-form-label">Link liên kết</label>
                            <div class="col-sm-10" style="float:right">
                                @Html.DropDownListFor(model => model.Url, new SelectList(Model.Urls, "Url", "Name", 0), "", new { Name = "Url", @id = "Url", @class = "form-control" })
                            </div>
                        </div>
                    }
                    <div class="form-group row" style="display:none;">
                        <label class="col-sm-2 col-form-label">Ảnh đại diện</label>
                        <div class="col-sm-8">
                            <div class="col-sm-4" style="float:left;padding-left:0">
                                <input type="text" name="Img" id="Image" readonly class="form-control" />
                            </div>
                            <div class="col-sm-2" style="float:left">
                                <input type="button" class="btn btn-primary btn-round waves-effect waves-light" value="Tải hình ảnh" onclick="BrowseServer();" />
                            </div>
                            <div class="col-sm-6" style="float:left">
                                <img id="AnhDaiDien" style="max-width:100%;max-height:100px">
                            </div>
                        </div>
                    </div>


                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label">Thứ tự hiển thị</label>
                        <div class="col-sm-10">
                            <input type="number" name="OrderMenu" class="form-control" value="0" min="0" />
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label">Kích hoạt</label>
                        <div class="col-sm-10">
                            <input type="checkbox" id="Active" name="Active" checked value="0">
                        </div>
                    </div>


                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default waves-effect" data-dismiss="modal">Hủy</button>
                    <button type="submit" class="btn btn-primary waves-effect waves-light ">Cập nhật thông tin</button>
                </div>
            </div>
        </div>
    </div>
</form>
