﻿
@{
    ViewBag.Title = "Bài tin";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}
@using Web_app.Models;
@model NewsViewModel
<div class="page-header card">
    <div class="row align-items-end">
        <div class="col-lg-8">
            <div class="page-header-title">
                <i class="feather icon-server bg-c-blue"></i>
                <div class="d-inline">
                    <h5>Quản trị bài viết</h5>
                    <span>Thêm, sửa, xóa một bài tin</span>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="page-header-breadcrumb">
                @if (TempData["MessageSuccess"] != null)
                {
                    <div class="alert alert-success icons-alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <i class="icofont icofont-close-line-circled text-white"></i>
                        </button>
                        <strong>Thông báo!</strong> @TempData["MessageSuccess"].ToString()
                    </div>
                }
                @if (TempData["MessageError"] != null)
                {
                    <div class="alert alert-danger icons-alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <i class="icofont icofont-close-line-circled text-white"></i>
                        </button>
                        <strong>Thông báo!</strong> @TempData["MessageError"].ToString()
                    </div>
                }
                <div id="MesageDelete" class="alert alert-info background-info" style="display:none">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <i class="icofont icofont-close-line-circled"></i>
                    </button>
                    <p><strong>Thông báo!</strong> Xóa thông tin thành công</p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="pcoded-inner-content">
    <div class="main-body">
        <div class="page-wrapper">

            <div class="page-body">
                <div class="card">
                    <ul>
                        <li class="col-sm-7" style="float:left;padding:0">
                            <div class="card-header">
                                <div class="form-group row" style="margin-bottom: 0;">
                                    <label class="col-sm-3 col-form-label">Tìm theo nhóm tin</label>
                                    <div class="col-sm-7">
                                        @Html.DropDownListFor(model => model.IdGroupNews, new SelectList(Model.GroupNews, "Id", "Name", 0), "--- Chọn nhóm tin ---", new { Id = "IdGroupNewsSearch", Name = "IdGroupNewsSearch", @class = "form-control fill", @onchange = "SearchNews();" })
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="col-sm-5" style="float: left; padding: 0">
                            <div class="card-header">
                                <div class="form-group row" style="margin-bottom: 0;">
                                    <label class="col-sm-4 col-form-label">Tìm theo tên bài viết</label>
                                    <div class="col-sm-7">
                                        <input class="form-control" id="TitleSearch" type="text">
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="col-sm-3" style="float:left;display:none">
                            <div class="card-header">
                                <div class="form-group row" style="margin-bottom: 0;">
                                    <label class="col-sm-4 col-form-label">Tìm theo trạng thái (kích hoạt hay ẩn)</label>
                                    <div class="col-sm-7">
                                        <select id="ActiveSearch" class="form-control fill" onchange="SearchNews();">
                                            <option value="">--- Chọn trạng thái ---</option>
                                            <option value="0">Ẩn </option>
                                            <option value="1">Kích hoạt</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="col-sm-6" style="float:left; display:none">
                            <div class="card-header">
                                <div class="form-group row" style="margin-bottom: 0;">
                                    <label class="col-sm-2 col-form-label">Ngày tạo Từ</label>
                                    <div class="col-sm-4">
                                        <input class="form-control" id="DateCreateFromSearch" data-inputmask="'alias': 'yyyy/mm/dd'" data-mask="" type="date">
                                    </div>
                                    <label class="col-sm-2 col-form-label">Đến</label>
                                    <div class="col-sm-4">
                                        <input class="form-control" id="DateCreateToSearch" onchange="SearchNews();" data-inputmask="'alias': 'yyyy/mm/dd'" data-mask="" type="date">
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="col-sm-3" style="float:left;">
                            <div class="card-header">
                                <div class="form-group row" style="margin-bottom: 0;">
                                    <button class="btn btn-primary btn-round waves-effect waves-light" onclick="SearchNews();">Tìm kiếm</button>
                                </div>
                            </div>
                        </li>
                    </ul>
                    <hr style="height:1px;width:100%; color:#808080"/>
                    <ul>
                        <li style="float:left">
                            <div class="card-header">
                                <h5>Danh sách bài tin</h5>
                            </div>
                        </li>
                        <li style="float:right">
                            <div class="card-header">
                                <button class="btn btn-primary btn-round waves-effect waves-light" onclick="ShowModalAdd();">Thêm mới</button>
                            </div>
                        </li>
                    </ul>

                    <div class="card-block" style="padding-top:0">
                        <div class="dt-responsive table-responsive">
                            <div id="multi-colum-dt_wrapper" class="dataTables_wrapper dt-bootstrap4">
                                <div class="row">
                                    <div class="col-xs-12 col-sm-12">
                                        <table id="ListNews" class="table table-striped table-bordered nowrap dataTable">
                                            <thead>
                                                <tr role="row">
                                                    <th class="sorting" tabindex="0" aria-controls="multi-colum-dt" rowspan="1" colspan="1" style="width: 90px;">Id</th>
                                                    <th class="sorting" tabindex="0" aria-controls="multi-colum-dt" rowspan="1" colspan="1">Bài tin</th>
                                                    <th class="sorting" tabindex="0" aria-controls="multi-colum-dt" rowspan="1" colspan="1">Ảnh đại diện</th>
                                                    <th class="sorting" tabindex="0" aria-controls="multi-colum-dt" rowspan="1" colspan="1">Ngày tạo</th>
                                                    <th class="sorting" tabindex="0" aria-controls="multi-colum-dt" rowspan="1" colspan="1">Người tạo</th>
                                                    <th class="sorting" tabindex="0" aria-controls="multi-colum-dt" rowspan="1" colspan="1" style="width: 90px;">Kích hoạt</th>
                                                    <th class="sorting" tabindex="0" aria-controls="multi-colum-dt" rowspan="1" colspan="1" style="width: 50px;">Chức năng</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                            </tbody>
                                            <tfoot>

                                            </tfoot>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </div>
</div>
@Html.Partial("ModalNews", Model)
@section ViewSpecificJavascriptAdmin
    {
    <script src="~/Content/Datatable11019/js/jquery.dataTables.min.js"></script>
    <script src="~/Content/Datatable11019/js/dataTables.bootstrap4.min.js"></script>
    <link href="~/Content/Select2-403/css/select2.min.css" rel="stylesheet" />
    <script src="~/Content/Select2-403/js/select2.full.min.js"></script>
    <script src="~/Areas/Admin/Css/js/IndexAdmin.js"></script>
    <script src="~/Content/ckeditor/ckeditor.js"></script>
    <script src="~/Areas/Admin/Css/js/BaiTin.js"></script>
    <script>
        $(document).ready(function () {
            // CKEDITOR.replace("Description");
            CKEDITOR.replace("Detail");
            CKEDITOR.replace("DetailLichCongTac");
        });

    </script>
}




