﻿
@using Web_app.Models;
@model GroupNewsViewModel

<form action="/Admin_News/add-group" method="post">
    @Html.AntiForgeryToken()
    <input id="Id" name="Id" type="hidden" />
    <div class="modal fade md-effect-11" id="modal-group-news" role="dialog" style="z-index: 1050; display: none;" aria-hidden="true">
        <div class="modal-dialog modal-lg" style="max-width: 70%;">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Thêm mới, chỉnh sửa nhóm tin</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label">Tên nhóm tin</label>
                        <div class="col-sm-10">
                            <input type="text" name="Name" class="form-control" onchange='SetUrl(this.value);'>
                            @*@Html.ValidationMessageFor(m => m.Name, "", new { @class = "col-form-label" })*@
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label">Link hiển thị</label>
                        <div class="col-sm-10">
                            <div class="col-sm-8" style="float:left;padding:0;">
                                <input type="text" name="Url" id="url" class="form-control" readonly>
                            </div>
                            <div class="col-sm-2" style="float:left">
                                <button type="button" id="chinhsualink" class="btn btn-primary waves-effect waves-light ">Chỉnh sửa link</button>
                            </div>
                        </div>

                    </div>

                    <div class="form-group row" style="display:none;">
                        <label class="col-sm-2 col-form-label">Ảnh đại diện</label>
                        <div class="col-sm-8">
                            <div class="col-sm-4" style="float:left;padding-left:0">
                                <input type="text" name="Img" id="Image" readonly class="form-control" />
                            </div>
                            <div class="col-sm-2" style="float:left">
                                <input type="button" class="btn btn-primary btn-round waves-effect waves-light" value="Tải hình ảnh" onclick="BrowseServer();" />
                            </div>
                            <div class="col-sm-6" style="float:left">
                                <img id="AnhDaiDien" style="max-width:100%;max-height:100px">
                            </div>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label">Vị trí hiển thị</label>
                        <div class="col-sm-10">
                            @Html.DropDownListFor(model => model.Position, new SelectList(Model.Positions, "Id", "Name", 0), "--- Chọn vị trí hiển thị ---", new { Id = "Position", Name = "Position", @class = "form-control fill" })
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label">Kích hoạt</label>
                        <div class="col-sm-10">
                            <input type="checkbox" id="Active" name="Active" checked value="0">
                        </div>
                    </div>


                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default waves-effect " data-dismiss="modal">Hủy</button>
                    <button type="submit" class="btn btn-primary waves-effect waves-light ">Cập nhật thông tin</button>
                </div>
            </div>
        </div>
    </div>
</form>