﻿
@using Web_app.Models;
@model NewsViewModel

<form id="news-form" action="/Admin_News/Add_News" method="post" enctype="multipart/form-data">
    <input id="Id" name="Id" type="hidden" />
    <div class="modal fade md-effect-11" id="modal-news" role="dialog" style="z-index: 1050; display: none;" aria-hidden="true">
        <div class="modal-dialog modal-lg" style="max-width: 70%;">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Thêm mới, chỉnh sửa bài viết</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">

                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label">Nhóm tin</label>
                        <div class="col-sm-10">
                            @Html.DropDownListFor(model => model.IdGroupNews, new SelectList(Model.GroupNews, "Id", "Name", 0), "", new { Id = "IdGroupNews", Name = "IdGroupNews", @class = "col-sm-12 chose-group-news", @onchange = "SetLicCongTac(this.value);" })
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label">Tên bài viết</label>
                        <div class="col-sm-10">
                            <input type="text" name="Title" class="form-control" onchange='SetUrl(this.value);'>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label">Link hiển thị</label>
                        <div class="col-sm-10">
                            <input type="text" name="Url" class="form-control" readonly>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label">Ảnh đại diện</label>
                        <div class="col-sm-8">
                            <div class="col-sm-4" style="float:left;padding-left:0">
                                <input type="text" name="Img" id="Image" readonly class="form-control" />
                            </div>
                            <div class="col-sm-2" style="float:left">
                                <input name="upload" id="uploadImg" type="file" value="Tải hình ảnh">
                            </div>
                            <div class="col-sm-6" style="float:left">
                                <img id="AnhDaiDien" style="max-width:100%;max-height:100px">
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label">File excel, word, txt...</label>
                        <div class="col-sm-8">
                            <div class="col-sm-4" style="float:left;padding-left:0">
                                <input type="text" name="FileDinhKem" id="FileDinhKem" readonly class="form-control" />
                            </div>
                            <div class="col-sm-2" style="float:left">
                                <input name="uploadFile[]" id="uploadFile" type="file" multiple="multiple" value="Tải file">
                            </div>
                            <div class="col-sm-12" style="float:left;margin-top: 10px;padding: 10px;border: 1px solid #d2cdcd;border-radius: 10px;display:none" id="ListImgView">

                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label">Link đến HTML</label>
                        <div class="col-sm-10">
                            <input type="text" id="FileHtml" name="FileHtml" class="form-control">
                        </div>
                    </div>
                    <div class="form-group row" style="display:none">
                        <label class="col-sm-2 col-form-label">File html...</label>
                        <div class="col-sm-8">
                            <div class="col-sm-4" style="float:left;padding-left:0">
                                <input type="text" name="FileHtml" id="FileHtml" readonly class="form-control" />
                            </div>
                            <div class="col-sm-2" style="float:left">
                                <input name="uploadHtml" id="uploadHtml" type="file" value="Tải file html">
                            </div>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label">Mô tả</label>
                        <div class="col-sm-10">
                            <textarea id="Description" name="Description" class="form-control" rows="10" cols="20"></textarea>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label">Bài viết chi tiết</label>
                        <div class="col-sm-10">
                            <textarea id="Detail" name="Detail" class="form-control ckDetail" rows="2" cols="20"></textarea>
                            <textarea id="DetailLichCongTac" name="CongTacTuan" style="display:none" class="form-control ckDetailLichCongTac" rows="2" cols="20"></textarea>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label">Thời gian đăng bài</label>
                        <div class="col-sm-10">
                            <input class="form-control" id="DateCreate" name="DateCreate" type="datetime-local">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label">Tác giả</label>
                        <div class="col-sm-10">
                            <input type="text" name="UserCreate" class="form-control" />
                        </div>
                    </div>

                    @*<div class="form-group row">
            <label class="col-sm-2 col-form-label">URL Video (nếu có)</label>
            <div class="col-sm-10">
                <input type="text" name="UrlVideo" class="form-control" />
            </div>
        </div>*@

                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label">Seo Keyword</label>
                        <div class="col-sm-10">
                            <input type="text" name="SeoKeyWord" class="form-control" />
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label">Seo Title</label>
                        <div class="col-sm-10">
                            <input type="text" name="SeoTitle" class="form-control" />
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label">Seo Desciption</label>
                        <div class="col-sm-10">
                            <input type="text" name="SeoDesciption" class="form-control" />
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label">Thứ tự hiển thị</label>
                        <div class="col-sm-10">
                            <input type="number" name="OrderNews" class="form-control" value="0" min="0" />
                        </div>
                    </div>

                    @*<div class="form-group row">
            <label class="col-sm-2 col-form-label">Dịch vụ trang chủ</label>
            <div class="col-sm-10">
                <input type="checkbox" id="IsNew" name="IsNew" checked value="0">
            </div>
        </div>*@
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label">Vị trí hiển thị</label>
                        <div class="col-sm-10">
                            @Html.DropDownListFor(model => model.Position, new SelectList(Model.Positions, "Id", "Name", 0), "", new { Id = "Position", Name = "Position", @class = "col-sm-12" })
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label">Kích hoạt</label>
                        <div class="col-sm-10">
                            <input type="checkbox" id="Active" name="Active" checked value="0">
                        </div>
                    </div>


                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default waves-effect " data-dismiss="modal">Hủy</button>
                    <button type="submit" class="btn btn-primary waves-effect waves-light ">Cập nhật thông tin</button>
                </div>
            </div>
        </div>
    </div>
</form>