﻿



@using DataAccess.Entities;
@using Web_app.Common;
@model List<AlbumEntity>

@for (int i = 0; i < Model.Count(); i++)
{

    <!--Item-->
    <figure class="works--done__item" data-toggle="modal" data-target=".ModalGalleryhgfjghj-@i">
        <img src="@Model[i].Img.Split(',')[0]" alt="@Model[i].Title">
        <figcaption class="works--done__item-description">
            <h3>@Model[i].Title</h3>
            <p>@Html.Raw(comon.TrimLength(Model[i].Description ?? "", 80))</p>
        </figcaption>
    </figure>
    <!--Item-->


    @*<div class="modal fade ModalGalleryhgfjghj-@i" tabindex="-1" role="dialog" aria-hidden="true">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><i class="fas fa-times"></i></button>
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <figure>
                        <div id="carouselGalleryWorksfdgfdg-@i" class="carousel slide" data-ride="carousel">
                            <div class="carousel-inner">
                                @if (Model[i].Img.Split(',').Count() > 0)
                                {
                                    var listimg = Model[i].Img.Split(',');
                                    var count = Model[i].Img.Split(',').Count();
                                    for (int j = 0; j < count - 1; j++)
                                    {
                                        if (j == 0)
                                        {
                                            <div class="carousel-item active">
                                                <img class="d-block w-100" src="@listimg[j]" alt="@Model[i].Title">
                                            </div>
                                        }
                                        else
                                        {
                                            <div class="carousel-item">
                                                <img class="d-block w-100" src="@listimg[j]" alt="@Model[i].Title">
                                            </div>
                                        }
                                    }
                                }

                            </div>
                            <a class="carousel-control-prev" href="#carouselGalleryWorksfdgfdg-@i" role="button" data-slide="prev">
                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                <span class="sr-only">Trước</span>
                            </a>
                            <a class="carousel-control-next" href="#carouselGalleryWorksfdgfdg-@i" role="button" data-slide="next">
                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                <span class="sr-only">Tiếp theo</span>
                            </a>
                        </div>

                        <figcaption class="mt-3">
                            <h3 class="mt-4">@Model[i].Title</h3>
                            <hr class="light-color">
                            <p>@Html.Raw(comon.TrimLength(Model[i].Description ?? "", 120))</p>
                        </figcaption>
                    </figure>
                </div>
            </div>
        </div>
    </div>*@
}