﻿@using DataAccess.Entities;
@using Web_app.Common;
@model List<AlbumEntity>
@{
    ViewBag.Img = "http://c3trunggia.edu.vn/logo.png";
    ViewBag.Title = "Ảnh hoạt động";
    ViewBag.Keyword = "Ảnh hoạt động";
    ViewBag.Description = "Ảnh hoạt động";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/Content/css/slide/css/slider.css" rel="stylesheet" />
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="/Content/css/slide/lib/jquery-1.11.1.min.js"><\/script>')</script>
<script src="~/Content/css/slide/src/slider.js"></script>
@foreach (var item in Model)
{
    int i = 1;
    var split = item.Img.Split(',');
    <div class="slider-container ngon-@i">
        <div class="slider">
            @for (int j = 0; j < split.Count() - 1; j++)
            {
                <div class="slider__item">
                    <img src="@split[j]" alt="@item.Title">
                    <span class="slider__caption">@item.Title </span>
                </div>
            }

        </div>
        <div class="slider__switch slider__switch--prev" data-ikslider-dir="prev">
            <span><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M13.89 17.418c.27.272.27.71 0 .98s-.7.27-.968 0l-7.83-7.91c-.268-.27-.268-.706 0-.978l7.83-7.908c.268-.27.7-.27.97 0s.267.71 0 .98L6.75 10l7.14 7.418z" /></svg></span>
        </div>
        <div class="slider__switch slider__switch--next" data-ikslider-dir="next">
            <span><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M13.25 10L6.11 2.58c-.27-.27-.27-.707 0-.98.267-.27.7-.27.968 0l7.83 7.91c.268.27.268.708 0 .978l-7.83 7.908c-.268.27-.7.27-.97 0s-.267-.707 0-.98L13.25 10z" /></svg></span>
        </div>
    </div>
    <h4 style="text-align: center; margin-top: 20px; margin-bottom: 50px; color: #981b1e">@item.Title</h4>
    <script>
        $(".ngon-" + @i).ikSlider({
            speed: 500
        });
        $(".ngon-" + @i).on('changeSlide.ikSlider', function (evt) { console.log(evt.currentSlide); });

    </script>
    i++;
}
