﻿@using Web_app.Models;
@using Web_app.Common;
@model NewsViewModel
@{
    ViewBag.Name = "http://c3trunggia.edu.vn/Detail/" + @Model.UrlGroupNews + "/" + Model.Url + "";
    ViewBag.Img = "http://c3trunggia.edu.vn/" + @Model.Img + "";
    ViewBag.Title = @HttpUtility.HtmlDecode(Model.SeoTitle != null ? Model.SeoTitle : Model.Title);
    ViewBag.Keyword = @HttpUtility.HtmlDecode(Model.SeoKeyWord != null ? Model.SeoKeyWord : Model.Title);
    ViewBag.Description = @HttpUtility.HtmlDecode(Model.SeoDesciption != null ? Model.SeoDesciption : Model.Description);
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="content" class="blog-wrapper blog-single page-wrapper">
    <div class="row row-large ">
        <div class="large-9 col">
            <article id="post-330" class="post-330 post type-post status-publish format-standard has-post-thumbnail hentry category-chia-se category-cuoc-song category-giao-hoi-hoan-vu category-giao-hoi-viet-nam category-goc-chia-se category-hinh-anh category-hoc-hoi category-hoc-wordpress category-nghe-thuat category-thiet-ke-do-hoa category-thiet-ke-website category-tin-tuc">
                <div class="article-inner ">
                    <header class="entry-header">
                        <div class="entry-header-text entry-header-text-top text-left">
                            <h6 class="entry-category is-xsmall">
                                <a href="/">Trang chủ</a> > <a href="#">@Model.DisplayGroupNews</a>
                            </h6>

                            <h1 class="entry-title">@Model.Title</h1>
                            <h6 class="entry-category is-xsmall">
                                Được đăng vào: @comon.GetDate(DateTime.Parse(Model.DateCreate)) | Số lượt xem: @Model.SoLuotXem
                            </h6>
                            <div class="entry-divider is-divider small"></div>

                        </div><!-- .entry-header -->

                    </header><!-- post-header -->
                    <div class="entry-content single-page">

                        @if (!string.IsNullOrEmpty(Model.CongTacTuan))
                        {
                            @Html.Raw(Model.CongTacTuan ?? "")
                        }
                        else
                        {
                            @Html.Raw(Model.Detail ?? "")
                        }
                        @if (!String.IsNullOrEmpty(Model.FileDinhKem))
                        {
                            var lstFile = Model.FileDinhKem.Split(',');
                            var count = 0;
                            if (lstFile.Length > 1)
                            {
                                count = lstFile.Length - 1;
                            }
                            else
                            {
                                count = lstFile.Length;
                            }
                            for (int i = 0; i < count; i++)
                            {
                                var duoi = lstFile[i].Split('.').Last();
                                if (duoi == "docx" || duoi == "doc" || duoi == "xlsx")
                                {
                                    <p>
                                        <a target="_blank" title="Tải file"
                                           href="@lstFile[i]">
                                            <img style="width: 15px !important;" src="~/Content/img/icondownload.png" />
                                            Tải xuống file đính kèm
                                        </a>
                                    </p>
                                    <p>
                                        <iframe style="width:100%; height:500px;" src="https://docs.google.com/gview?url=http://c3trunggia.edu.vn/@lstFile[i]&embedded=true"></iframe>
                                    </p>
                                }
                                else if (duoi == "pdf")
                                {
                                    <p>
                                        <a target="_blank" title="Tải file"
                                           href="@lstFile[i]">
                                            <img style="width: 15px !important;" src="~/Content/img/icondownload.png" />
                                            Tải xuống file đính kèm
                                        </a>
                                    </p>
                                    <p>
                                        <object data="@lstFile[i]" type="application/pdf" width="100%" height="500"></object>
                                    </p>
                                }
                                else
                                {
                                    <p>
                                        <a target="_blank" title="Tải file"
                                           href="@lstFile[i]">
                                            <img style="width: 15px !important;" src="~/Content/img/icondownload.png" />
                                            Tải xuống file đính kèm
                                        </a>
                                    </p>
                                }
                            }
                        }
                    </div><!-- .entry-content2 -->
                    <p style="text-align:right">@if (!string.IsNullOrEmpty(Model.UserCreate))
                    {@Html.Raw("Tác giả: ") @Model.UserCreate}</p>

                </div><!-- .article-inner -->
            </article><!-- #-330 -->

            <div id="comments" class="comments-area">

                <div id="respond" class="comment-respond">
                    <div id="fb-root"></div>
                    <script async defer crossorigin="anonymous" src="https://connect.facebook.net/vi_VN/sdk.js#xfbml=1&version=v8.0" nonce="VN0PHAJk"></script>
                    <div class="fb-comments" data-href="http://c3trunggia.edu.vn/Detail/@Model.UrlGroupNews/@Model.Url" data-numposts="10" data-width="730"></div>
                </div><!-- #respond -->

            </div>

            <div class="html-before-comments mb">
                <h4>Tin cùng chuyên mục</h4>
                <hr style="height:1px; width:100%;color:#484747" />

                <div class="row large-columns-4 medium-columns-1 small-columns-1 row-small">
                    @Html.Action("BaiVietLienQuan", "News", new { IdGroupNews = Model.IdGroupNews, IdNews = Model.Id })
                </div>
            </div>
            <!-- #comments -->
        </div> <!-- .large-9 -->
        @Html.Action("TinMoi", "News")

    </div><!-- .row -->

</div>

