﻿@using DataAccess.Entities;
@using Web_app.Common;
@model GroupNewsEntity
@{
    ViewBag.Img = "http://c3trunggia.edu.vn/" + @Model.Img + "";
    ViewBag.Title = @HttpUtility.HtmlDecode(Model.Name ?? "");
    ViewBag.Keyword = @HttpUtility.HtmlDecode(Model.Name ?? "");
    ViewBag.Description = @HttpUtility.HtmlDecode(Model.Name ?? "");
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div id="content" class="blog-wrapper blog-archive page-wrapper">
    <div class="row row-large ">
        <div class="large-9 col">

            <div class="row large-columns-1 medium-columns- small-columns-1">
                <div id="loadpage">
                    @Html.Action("PartialNews", "News", new { id = Model.Id, page = 1 })
                </div>

            </div>

        </div> <!-- .large-9 -->
        @Html.Action("TinMoi", "News")
    </div><!-- .row -->

</div>


<style>
    #phantrang {
        float: left;
        width: 100%;
    }
</style>

