﻿
@using DataAccess.Entities;
@model List<NewsEntity>
<section class="services-description">
    <div class="container">
        <!--Carousel for-->
        <div class="services-description__screen">
            <div class="slider-for-services">
                @foreach (var item in Model)
                {
                    if (!string.IsNullOrEmpty(item.Video))
                    {
                        <div>@Html.Raw(item.Video)</div>
                    }
                    else
                    {
                        <div><img src="@item.Img" alt="@item.Title"></div>
                    }
                }
            </div>
        </div>
        <!--Carousel for-->
    </div>

    <div class="container">
        <div class="services-description__list">
            <!--Carousel thumbs-->
            <div class="slider-nav-services">
                @foreach (var item in Model)
                {
                    <div>
                        <h4 class="services-description__title">@item.Title</h4>
                        <p class="services-description__">@Html.Raw(Web_app.Common.comon.TrimLength(item.Description ?? "", 120))</p>
                    </div>
                }

            </div>
            <!--Carousel thumbs-->
        </div>
    </div>
</section>
