﻿@using DataAccess.Entities;
@using Web_app.Common;
@model List<GroupNewsEntity>

@foreach (var item in Model)
{

    <div class="title bg">
        <a href="/@item.Url" title="@item.Name">
            <span class="title_co bg">@item.Name</span>
        </a>
    </div>
    <div class="row row-small row-divided" id="row-1524196982">
        <div class="col cot8 medium-8 small-12 large-8">
            <div class="col-inner">
                <div class="row large-columns-1 medium-columns-1 small-columns-1">
                    <div class="col post-item">
                        <div class="col-inner">
                            @for (int i = 0; i < item.ListNews.Take(1).Count(); i++)
                            {
                                var link = "#";
                                if (!string.IsNullOrEmpty(item.ListNews[i].FileHtml))
                                {
                                    link = item.ListNews[i].FileHtml;
                                }
                                else
                                {
                                    link = "/Detail/" + @item.Url + "/" + @item.ListNews[i].Url;
                                }
                                <a href="@link" class="plain">
                                    <div class="box box-vertical box-text-bottom box-blog-post has-hover">
                                        @if (!string.IsNullOrEmpty(item.ListNews[i].Img))
                                        {
                                            <div class="box-image" style="width:42%;">
                                                <div class="image-cover" style="padding-top:72%;">
                                                    <img width="500" height="359" src="@(item.ListNews[i].Img ?? "/Content/img/image_default.png")" class="lazy-load attachment-original size-original wp-post-image" alt="@item.ListNews[i].Title" />
                                                </div>
                                            </div>
                                            <!-- .box-image -->
                                        }
                                        <div class="box-text text-left">
                                            <div class="box-text-inner blog-post-inner">
                                                <h5 class="post-title is-large ">@item.ListNews[i].Title</h5>
                                                <div class="post-meta is-small op-8">@comon.GetDate(DateTime.Parse(item.ListNews[i].DateCreate))</div>
                                                <div class="is-divider"></div>
                                                <p class="from_the_blog_excerpt ">@comon.TrimLength(@item.ListNews[i].Description ?? "", 100) </p>
                                            </div>
                                            <!-- .box-text-inner -->
                                        </div>
                                        <!-- .box-text -->
                                    </div>
                                    <!-- .box -->
                                </a>
                            }
                            <!-- .link -->
                        </div>
                        <!-- .col-inner -->
                    </div>
                    <!-- .col -->
                </div>
                <div class="row large-columns-2 medium-columns-1 small-columns-1 row-xsmall">
                    @for (int i = 0; i < item.ListNews.Take(3).Count(); i++)
                    {
                        if (i == 0) { continue; }
                        var link = "#";
                        if (!string.IsNullOrEmpty(item.ListNews[i].FileHtml))
                        {
                            link = item.ListNews[i].FileHtml;
                        }
                        else
                        {
                            link = "/Detail/" + @item.Url + "/" + @item.ListNews[i].Url;
                        }
                        <div class="col post-item">
                            <div class="col-inner">
                                <a href="@link" class="plain">
                                    <div class="box box-vertical box-text-bottom box-blog-post has-hover">
                                        @if (!string.IsNullOrEmpty(item.ListNews[i].Img))
                                        {
                                            <div class="box-image" style="width:28%;">
                                                <div class="image-cover" style="padding-top:74%;">
                                                    <img width="500" height="333" src="@(item.ListNews[i].Img ?? "/Content/img/image_default.png")" class="lazy-load attachment-original size-original wp-post-image" alt="@item.ListNews[i].Title" />
                                                </div>
                                            </div>
                                            <!-- .box-image -->
                                        }
                                        <div class="box-text text-left is-small">
                                            <div class="box-text-inner blog-post-inner">
                                                <h5 class="post-title is-large ">@item.ListNews[i].Title</h5>
                                                <div class="is-divider"></div>
                                            </div>
                                            <!-- .box-text-inner -->
                                        </div>
                                        <!-- .box-text -->
                                    </div>
                                    <!-- .box -->
                                </a>
                                <!-- .link -->
                            </div>
                            <!-- .col-inner -->
                        </div>
                    }

                </div>
            </div>
        </div>
        <div class="col cot4 medium-4 small-12 large-4">
            <div class="col-inner">
                <div class="row large-columns-1 medium-columns-1 small-columns-1 row-xsmall">
                    @for (int i = 0; i < item.ListNews.Take(7).Count(); i++)
                    {
                        if (i == 0 || i == 1 || i == 2)
                        {
                            continue;
                        }
                        var link = "#";
                        if (!string.IsNullOrEmpty(item.ListNews[i].FileHtml))
                        {
                            link = item.ListNews[i].FileHtml;
                        }
                        else
                        {
                            link = "/Detail/" + @item.Url + "/" + @item.ListNews[i].Url;
                        }
                        <div class="col post-item">
                            <div class="col-inner">
                                <a href="@link" class="plain">
                                    <div class="box box-normal box-text-bottom box-blog-post has-hover">
                                        @if (!string.IsNullOrEmpty(item.ListNews[i].Img))
                                        {
                                            <div class="box-image">
                                                <div class="image-cover" style="padding-top:0%;">
                                                    <img width="300" height="225" src="@(item.ListNews[i].Img ?? "/Content/img/image_default.png")" class="lazy-load attachment-medium size-medium wp-post-image" alt="@item.ListNews[i].Title" />
                                                </div>
                                            </div>
                                            <!-- .box-image -->
                                        }
                                        <div class="box-text text-left is-small">
                                            <div class="box-text-inner blog-post-inner">
                                                <h5 class="post-title is-large ">@item.ListNews[i].Title</h5>
                                                <div class="is-divider"></div>
                                            </div>
                                            <!-- .box-text-inner -->
                                        </div>
                                        <!-- .box-text -->
                                    </div>
                                    <!-- .box -->
                                </a>
                                <!-- .link -->
                            </div>
                            <!-- .col-inner -->
                        </div>
                    }
                </div>
            </div>
        </div>
        <style scope="scope"></style>
    </div>
}
