﻿
@using Web_app.Models;
@using Web_app.Common;
@model List<NewsViewModel>

@foreach (var item in Model)
{
    var link = "#";
    if (!string.IsNullOrEmpty(item.FileHtml))
    {
        link = item.FileHtml;
    }
    else
    {
        link = "/Detail/" + @item.UrlGroupNews + "/" + @item.Url;
    }
    <div class="col post-item">
        <div class="col-inner">
            <a href="@link" class="plain">
                <div class="box box-vertical box-text-bottom box-blog-post has-hover">
                    @if (!string.IsNullOrEmpty(item.Img))
                    {
                        <div class="box-image" style="width:40%;">
                            <div class="image-cover" style="padding-top:56%;">
                                <img width="300" height="200" src="@(item.Img  ?? "/Content/img/image_default.png")" class="attachment-medium size-medium wp-post-image lazy-load-active" alt="@item.Title">
                            </div>
                        </div><!-- .box-image -->
                    }
                    <div class="box-text text-left">
                        <div class="box-text-inner blog-post-inner">


                            <h5 class="post-title is-large ">@item.Title</h5>
                            <div class="is-divider"></div>
                            <p class="from_the_blog_excerpt ">@comon.TrimLength(item.Description ?? "", 100)</p>



                        </div><!-- .box-text-inner -->
                    </div><!-- .box-text -->
                    <div class="badge absolute top post-date badge-square">
                        <div class="badge-inner">
                            <span class="post-date-day"> @comon.GetDate(DateTime.Parse(item.DateCreate))</span><br>
                        </div>
                    </div>
                </div><!-- .box -->
            </a><!-- .link -->
        </div><!-- .col-inner -->
    </div>
}
<ul class="page-numbers nav-pagination links text-center" id='phantrang'>
    @Html.Raw(ViewBag.Htmlpage)
</ul>

<script src="~/Content/js/phan-trang.js"></script>


