﻿
<li class="header-search header-search-dropdown has-icon has-dropdown menu-item-has-children">
    <a href="#" class="is-small">
        <i class="icon-search"></i>
    </a>
    <ul class="nav-dropdown nav-dropdown-simple dark">
        <li class="header-search-form search-form html relative has-icon">
            <div class="header-search-form-wrapper">
                <div class="searchform-wrapper ux-search-box relative form- is-normal">
                    <form method="post" class="searchform" action="/tim-kiem">
                        <div class="flex-row relative">
                            <div class="flex-col flex-grow">
                                <input type="search" class="search-field mb-0" name="key" placeholder="Bạn cần tìm gì..." />
                            </div>
                            <!-- .flex-col -->
                            <div class="flex-col">
                                <button type="submit" class="ux-search-submit submit-button secondary button icon mb-0">
                                    <i class="icon-search"></i>
                                </button>
                            </div>
                            <!-- .flex-col -->
                        </div>
                        <!-- .flex-row -->
                        <div class="live-search-results text-left z-top"></div>
                    </form>
                </div>
            </div>
        </li>
    </ul>
    <!-- .nav-dropdown -->
</li>

