﻿@using Web_app.Models;
@using Web_app.Common;
@model List<NewsViewModel>

    @foreach (var item in Model)
    {
    <div class="col post-item">
        <div class="col-inner">
            <a href="/Detail/@item.UrlGroupNews/@item.Url" class="plain">
                <div class="box box-normal box-text-bottom box-blog-post has-hover">
                    @if (!string.IsNullOrEmpty(item.Img))
                    {
                    <div class="box-image">
                        <div class="image-zoom image-cover" style="padding-top:65%;">
                            <img width="500" height="359" src="@(item.Img ?? " /Content/img/image_default.png")" class="lazy-load attachment-original size-original wp-post-image" alt="@item.Title" />
                        </div>
                    </div>
                    <!-- .box-image -->
                    }
                    <div class="box-text text-left">
                        <div class="box-text-inner blog-post-inner">
                            <h5 class="post-title is-large ">@item.Title</h5>
                            <div class="is-divider"></div>
                        </div>
                        <!-- .box-text-inner -->
                    </div>
                    <!-- .box-text -->
                </div>
                <!-- .box -->
            </a>
            <!-- .link -->
        </div>
        <!-- .col-inner -->
    </div>
    }
