﻿@using Web_app.Models;
@model List<NewsViewModel>
@using Web_app.Common;
@{
    ViewBag.Img = "http://c3trunggia.edu.vn/Content/img/Logo.png";
    ViewBag.Title = "Tìm kiếm";
    ViewBag.Keyword = "Tìm kiếm";
    ViewBag.Description = "Tìm kiếm";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div id="content" class="blog-wrapper blog-archive page-wrapper">
    <div class="row row-large ">
        <div class="large-9 col">
            <div class="row large-columns-1 medium-columns- small-columns-1">
                @foreach (var item in Model)
                {
                    <div class="col post-item">
                        <div class="col-inner">
                            <a href="/Detail/@item.UrlGroupNews/@item.Url" class="plain">
                                <div class="box box-vertical box-text-bottom box-blog-post has-hover">
                                    @if (!string.IsNullOrEmpty(item.Img))
                                    {
                                        <div class="box-image" style="width:40%;">
                                            <div class="image-cover" style="padding-top:56%;">
                                                <img width="300" height="200" src="@(item.Img ?? "/Content/img/image_default.png")" class="attachment-medium size-medium wp-post-image lazy-load-active" alt="@item.Title">
                                            </div>
                                        </div><!-- .box-image -->
                                    }
                                    <div class="box-text text-left">
                                        <div class="box-text-inner blog-post-inner">


                                            <h5 class="post-title is-large ">@item.Title</h5>
                                            <div class="is-divider"></div>
                                            <p class="from_the_blog_excerpt ">@comon.TrimLength(item.Description ?? "", 100)</p>



                                        </div><!-- .box-text-inner -->
                                    </div><!-- .box-text -->
                                    <div class="badge absolute top post-date badge-square">
                                        <div class="badge-inner">
                                            <span class="post-date-day"> @comon.GetDate(DateTime.Parse(item.DateCreate))</span><br>
                                        </div>
                                    </div>
                                </div><!-- .box -->
                            </a><!-- .link -->
                        </div><!-- .col-inner -->
                    </div>
                }

            </div>

        </div> <!-- .large-9 -->
        @Html.Action("TinMoi", "News")
    </div><!-- .row -->

</div>
