﻿@using DataAccess.Entities;
@model List<GroupNewsEntity>
@foreach (var item in Model.Take(6))
{
    <div class="cot3-title">
        <h4>@item.Name</h4>
    </div>
    <div class="row large-columns-1 medium-columns-1 small-columns-1 row-xsmall">

        @foreach (var itemNews in item.ListNews)
        {
            var link = "#";
            if (!string.IsNullOrEmpty(itemNews.FileHtml))
            {
                link = itemNews.FileHtml;
            }
            else
            {
                link = "/Detail/" + @item.Url + "/" + @itemNews.Url;
            }
            <div class="col post-item">
                <div class="col-inner">
                    <a href="@link" class="plain">
                        <div class="box box-normal box-text-bottom box-blog-post has-hover">
                            @if (!string.IsNullOrEmpty(itemNews.Img))
                            {
                                <div class="box-image">
                                    <div class="image-cover" style="padding-top:0%;">
                                        <img width="300" height="215" src="@(itemNews.Img ?? "/Content/img/image_default.png")" class="lazy-load attachment-medium size-medium wp-post-image" alt="@itemNews.Title" />
                                    </div>
                                </div>
                                <!-- .box-image -->
                            }
                            <div class="box-text text-left is-small">
                                <div class="box-text-inner blog-post-inner">
                                    <h5 class="post-title is-large ">@itemNews.Title</h5>
                                    <div class="is-divider"></div>
                                </div>
                                <!-- .box-text-inner -->
                            </div>
                            <!-- .box-text -->
                        </div>
                        <!-- .box -->
                    </a>
                    <!-- .link -->
                </div>
                <!-- .col-inner -->
            </div>
        }
    </div>

}

@Html.Action("ThongKeTruyCap", "Home")

