﻿@using Web_app.Models;
@using Web_app.Common;
@model List<NewsViewModel>
    <style>
        #recent-posts-2 li a:hover {
            color: #981b1e;
        }
    </style>
<div class="post-sidebar large-3 col">
    <div id="secondary" class="widget-area " role="complementary">
        <aside id="recent-posts-2" class="widget widget_recent_entries">
            <span class="widget-title "><span>Bài viết mới</span></span><div class="is-divider small"></div>
            <ul>
                @foreach (var item in Model)
                {
                    var link = "#";
                    if (!string.IsNullOrEmpty(item.FileHtml))
                    {
                        link = item.FileHtml;
                    }
                    else
                    {
                        link = "/Detail/" + @item.UrlGroupNews + "/" + @item.Url;
                    }
                    <li>
                        <a href="@link">
                            @item.Title
                        </a>
                    </li>

                }
            </ul>

        </aside>

    </div><!-- #secondary -->
</div><!-- .post-sidebar -->
