﻿@using Web_app.Models;
@using Web_app.Common;
@model List<NewsViewModel>

@foreach (var item in Model)
{
    var link = "#";
    if (!string.IsNullOrEmpty(item.FileHtml))
    {
        link = item.FileHtml;
    }
    else
    {
        link = "/Detail/" + @item.UrlGroupNews + "/" + @item.Url;
    }
    <div class="col post-item">
        <div class="col-inner">
            <a href="@link" class="plain">
                <div class="box box-normal box-text-bottom box-blog-post has-hover">
                    @if (!string.IsNullOrEmpty(item.Img))
                    {
                        <div class="box-image">
                            <div class="image-cover" style="padding-top:0px;">
                                <img width="300" height="200" src="@item.Img" class="lazy-load attachment-medium size-medium wp-post-image" alt="@item.Title" />
                            </div>
                        </div>
                        <!-- .box-image -->
                    }
                    <div class="box-text text-left is-small">
                        <div class="box-text-inner blog-post-inner">
                            <h5 class="post-title is-large ">@item.Title</h5>
                            <div class="is-divider"></div>
                        </div>
                        <!-- .box-text-inner -->
                    </div>
                    <!-- .box-text -->
                </div>
                <!-- .box -->
            </a>
            <!-- .link -->
        </div>
        <!-- .col-inner -->
    </div>
}