﻿
@using Web_app.Models;
@model SanPhamViewModel
<style>
    .form-group {
        margin-bottom: 1.25em;
        float: left;
        width: 100%;
    }
    .text-red{
        color:red;
    }
</style>
<form action="/Admin_SanPham/Add_SanPham" method="post">
    <input id="Id" name="Id" type="hidden" />
    <div class="modal fade md-effect-11" id="modal-SanPham" role="dialog" style="z-index: 1050; display: none;" aria-hidden="true">
        <div class="modal-dialog modal-lg" style="max-width: 70%;">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Thêm mới, chỉnh sửa sản phẩm</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
          
                <div class="modal-body">
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label">Nhóm sản phẩm</label>
                        <div class="col-sm-10">
                            @Html.DropDownListFor(model => model.IdNhomSanPham, new SelectList(Model.NhomSanPhams, "Id", "TenNhom", 0), "", new { Id = "IdNhomSanPham", Name = "IdNhomSanPham", @class = "col-sm-12 chose-group-sp", required = (string)null })
                            @Html.ValidationMessageFor(m => m.IdNhomSanPham, "", new { @class = "text-red" })
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label">Tên sản phẩm</label>
                        <div class="col-sm-10">
                            <input type="text" id="TenSanPham" required name="TenSanPham" class="form-control" onchange='SetUrl(this.value);' />
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label">Link hiển thị</label>
                        <div class="col-sm-10">
                            <input type="text" id="Url" name="Url" class="form-control" readonly>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label">Seo title</label>
                        <div class="col-sm-10">
                            <input type="text" id="SeoTitle" name="SeoTitle" class="form-control" />
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label">Seo keyword</label>
                        <div class="col-sm-10">
                            <input type="text" id="SeoKeyWord" name="SeoKeyWord" class="form-control" />
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label">Seo Description</label>
                        <div class="col-sm-10">
                            <input type="text" id="SeoDescription" name="SeoDescription" class="form-control" />
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label">Giá bán</label>
                        <div class="col-sm-10">
                            <input type="text" id="GiaBan" name="GiaBan"class="form-control" onchange="formatPrice(this)"/>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label">Giá khuyến mãi</label>
                        <div class="col-sm-10">
                            <input type="text" id="GiaKhuyenMai" name="GiaKhuyenMai"class="form-control" onchange="formatPrice(this)"/>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label">Ảnh đại diện (nếu có)</label>
                        <div class="col-sm-10">
                            <div class="col-sm-2" style="float: left;padding: 0px;">
                                <input type="hidden" name="Img" id="ListImg" readonly class="form-control" />

                                <input name="upload[]" id="upload" type="file" multiple="multiple" value="Tải 1 hoặc nhiều hình ảnh">
                            </div>
                            <span style="float:left;width:100%;font-style:italic">(Tải 1 hoặc nhiều hình ảnh)</span>
                            <div class="col-sm-12" style="float:left;margin-top: 10px;padding: 10px;border: 1px solid #d2cdcd;border-radius: 10px;display:none" id="ListImgView">

                            </div>

                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label">Mô tả</label>
                        <div class="col-sm-10">
                            <textarea id="Mota" name="Mota" class="form-control" rows="10" cols="20"></textarea>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label">Thông tin chi tiết</label>
                        <div class="col-sm-10">
                            <textarea id="ChiTiet" name="ChiTiet" class="form-control" rows="10" cols="20"></textarea>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label">Kích hoạt</label>
                        <div class="col-sm-10">
                            <input type="checkbox" id="Active" name="Active" checked value="true">
                        </div>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default waves-effect" data-dismiss="modal">Hủy</button>
                    <button type="submit" class="btn btn-primary waves-effect waves-light ">Cập nhật thông tin</button>
                </div>
            </div>
        </div>
    </div>
</form>
