﻿
@using Web_app.Models;
@model NhomSanPhamViewModel
<style>
    .form-group {
        margin-bottom: 1.25em;
        float: left;
        width: 100%;
    }
</style>
<form action="/Admin_SanPham/Add_NhomSanPham" method="post">
    <input id="Id" name="Id" type="hidden" />
    <div class="modal fade md-effect-11" id="modal-NhomSanPham" role="dialog" style="z-index: 1050; display: none;" aria-hidden="true">
        <div class="modal-dialog modal-lg" style="max-width: 70%;">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Thêm mới, chỉnh sửa nhóm sản phẩm</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
          
                <div class="modal-body">
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label">Tên nhóm</label>
                        <div class="col-sm-10">
                            <input type="text" id="TenNhom" name="TenNhom" class="form-control" onchange='SetUrl(this.value);' />
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label">Link hiển thị</label>
                        <div class="col-sm-10">
                            <input type="text" id="Url" name="Url" class="form-control" readonly>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label">Seo title</label>
                        <div class="col-sm-10">
                            <input type="text" id="SeoTitle" name="SeoTitle" class="form-control" />
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label">Seo keyword</label>
                        <div class="col-sm-10">
                            <input type="text" id="SeoKeyWord" name="SeoKeyWord" class="form-control" />
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label">Seo Description</label>
                        <div class="col-sm-10">
                            <input type="text" id="SeoDescription" name="SeoDescription" class="form-control" />
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label">Ảnh đại diện (nếu có)</label>
                        <div class="col-sm-8">
                            <div class="col-sm-4" style="float:left;padding-left:0">
                                <input type="text" name="Img" id="Image" readonly class="form-control" />
                            </div>
                            <div class="col-sm-2" style="float:left">
                                <input name="upload" id="uploadImg" type="file" value="Tải hình ảnh">
                            </div>
                            <div class="col-sm-6" style="float:left">
                                <img id="AnhDaiDien" style="max-width:100%;max-height:100px">
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label">Mô tả</label>
                        <div class="col-sm-10">
                            <textarea id="Mota" name="Mota" class="form-control" rows="10" cols="20"></textarea>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label">Kích hoạt</label>
                        <div class="col-sm-10">
                            <input type="checkbox" id="Active" name="Active" checked value="true">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label">Hiển thị ở trang chủ</label>
                        <div class="col-sm-10">
                            <input type="checkbox" id="HienThiTrangChu" name="HienThiTrangChu" value="true">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label">Hiển thị khu vực sản phẩm nổi bật</label>
                        <div class="col-sm-10">
                            <input type="checkbox" id="HienThiNoiBat" name="HienThiNoiBat" value="true">
                        </div>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default waves-effect" data-dismiss="modal">Hủy</button>
                    <button type="submit" class="btn btn-primary waves-effect waves-light ">Cập nhật thông tin</button>
                </div>
            </div>
        </div>
    </div>
</form>
