﻿
@{
    ViewBag.Title = "Cấu hình";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}
@using Web_app.Models;
@model ConfigViewModel


<div class="page-header card">
    <div class="row align-items-end">
        <div class="col-lg-8">
            <div class="page-header-title">
                <i class="feather icon-server bg-c-blue"></i>
                <div class="d-inline">
                    <h5>Quản trị cấu hình websiet</h5>
                    <span>Chỉnh sửa thông tin website</span>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="page-header-breadcrumb">
                @if (TempData["MessageSuccess"] != null)
                {
                    <div class="alert alert-success icons-alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <i class="icofont icofont-close-line-circled text-white"></i>
                        </button>
                        <strong>Thông báo!</strong> @TempData["MessageSuccess"].ToString()
                    </div>
                }
                @if (TempData["MessageError"] != null)
                {
                    <div class="alert alert-danger icons-alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <i class="icofont icofont-close-line-circled text-white"></i>
                        </button>
                        <strong>Thông báo!</strong> @TempData["MessageError"].ToString()
                    </div>
                }
                <div id="MesageDelete" class="alert alert-info background-info" style="display:none">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <i class="icofont icofont-close-line-circled"></i>
                    </button>
                    <p><strong>Thông báo!</strong> Xóa thông tin thành công</p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="pcoded-inner-content">
    <div class="main-body">
        <div class="page-wrapper">
            <form action="/HomeAdmin/Change_Info_Config" method="post">
                @*@Html.AntiForgeryToken()*@
                <div class="page-body">
                    <div class="card">
                        <ul>
                            <li style="float:left">
                                <div class="card-header">
                                    <h5>Thông tin cấu hình</h5>
                                </div>
                            </li>
                            <li style="float:right">
                                <div class="card-header">
                                    <button type="submit" class="btn btn-primary btn-round waves-effect waves-light">Cập nhật</button>
                                </div>
                            </li>
                        </ul>
                        <div class="card-block" style="padding-top:0">
                            <div class="dt-responsive table-responsive">
                                <div id="multi-colum-dt_wrapper" class="dataTables_wrapper dt-bootstrap4">
                                    <div class="row">
                                        <div class="col-xs-12 col-sm-12">
                                            <input name="Id" value="@Model.Id" type="hidden" />
                                            <div class="form-group row">
                                                <label class="col-sm-2 col-form-label">Tên công ty</label>
                                                <div class="col-sm-10">
                                                    @Html.TextBoxFor(model => model.Company, new { Name = "Company", @class = "form-control" })
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label class="col-sm-2 col-form-label">Số điện thoại công ty</label>
                                                <div class="col-sm-10">
                                                    @Html.TextBoxFor(model => model.Phone, new { Name = "Phone", @class = "form-control" })
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label class="col-sm-2 col-form-label">Hotline</label>
                                                <div class="col-sm-10">
                                                    @Html.TextBoxFor(model => model.Hotline, new { Name = "Hotline", @class = "form-control" })
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label class="col-sm-2 col-form-label">Fax</label>
                                                <div class="col-sm-10">
                                                    @Html.TextBoxFor(model => model.Fax, new { Name = "Fax", @class = "form-control" })
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label class="col-sm-2 col-form-label">Email công ty</label>
                                                <div class="col-sm-10">
                                                    @Html.TextBoxFor(model => model.Email, new { Name = "Email", @class = "form-control" })
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label class="col-sm-2 col-form-label">Email nhận liên hệ</label>
                                                <div class="col-sm-10">
                                                    @Html.TextBoxFor(model => model.EmailInfo, new { Name = "EmailInfo", @class = "form-control" })
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label class="col-sm-2 col-form-label">Địa chỉ</label>
                                                <div class="col-sm-10">
                                                    @Html.TextBoxFor(model => model.Address, new { Name = "Address", @class = "form-control" })
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label class="col-sm-2 col-form-label">Link Facebook</label>
                                                <div class="col-sm-10">
                                                    @Html.TextBoxFor(model => model.LinkFace, new { Name = "LinkFace", @class = "form-control" })
                                                </div>
                                            </div>

                                            <div class="form-group row">
                                                <label class="col-sm-2 col-form-label">Link Youtube</label>
                                                <div class="col-sm-10">
                                                    @Html.TextBoxFor(model => model.LinkYoutube, new { Name = "LinkYoutube", @class = "form-control" })
                                                </div>
                                            </div>

                                            <div class="form-group row">
                                                <label class="col-sm-2 col-form-label">Ifarme Googlemap</label>
                                                <div class="col-sm-10">
                                                    @Html.TextBoxFor(model => model.GoogleMap, new { Name = "GoogleMap", @class = "form-control" })
                                                </div>
                                            </div>

                                            <div class="form-group row">
                                                <label class="col-sm-2 col-form-label">Link TikTok</label>
                                                <div class="col-sm-10">
                                                    @Html.TextBoxFor(model => model.LinkTikTok, new { Name = "LinkTikTok", @class = "form-control" })
                                                </div>
                                            </div>

                                            <div class="form-group row">
                                                <label class="col-sm-2 col-form-label">Ifarme Video giới thiệu (nếu có)</label>
                                                <div class="col-sm-10">
                                                    @Html.TextBoxFor(model => model.LinkVideo, new { Name = "LinkVideo", @class = "form-control" })
                                                </div>
                                            </div>

                                            <div class="form-group row">
                                                <label class="col-sm-2 col-form-label">Link Google+ (nếu có)</label>
                                                <div class="col-sm-10">
                                                    @Html.TextBoxFor(model => model.LinkGoogle, new { Name = "LinkGoogle", @class = "form-control" })
                                                </div>
                                            </div>

                                            <div class="form-group row">
                                                <label class="col-sm-2 col-form-label">Link FanPage</label>
                                                <div class="col-sm-10">
                                                    @Html.TextBoxFor(model => model.FanPage, new { Name = "FanPage", @class = "form-control" })
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label class="col-sm-2 col-form-label">Seo Title</label>
                                                <div class="col-sm-10">
                                                    @Html.TextBoxFor(model => model.SeoTitle, new { Name = "SeoTitle", @class = "form-control" })
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label class="col-sm-2 col-form-label">Seo KeyWord</label>
                                                <div class="col-sm-10">
                                                    @Html.TextBoxFor(model => model.SeoKeyWord, new { Name = "SeoKeyWord", @class = "form-control" })
                                                </div>
                                            </div>

                                            <div class="form-group row">
                                                <label class="col-sm-2 col-form-label">Seo Desciption</label>
                                                <div class="col-sm-10">
                                                    @Html.TextBoxFor(model => model.SeoDesciption, new { Name = "SeoDesciption", @class = "form-control" })
                                                </div>
                                            </div>

                                            <div class="form-group row">
                                                <label class="col-sm-2 col-form-label">Nội dung chân trang</label>
                                                <div class="col-sm-10">
                                                    @Html.TextAreaFor(model => model.ContentFooter, new { Name = "ContentFooter", Id = "ContentFooter", @class = "form-control", rows = "10" })
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label class="col-sm-2 col-form-label">Chữ chạy trên trang chủ</label>
                                                <div class="col-sm-10">
                                                    @Html.TextBoxFor(model => model.CodeAnalytics, new { Name = "CodeAnalytics", Id = "CodeAnalytics", @class = "form-control"})
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label class="col-sm-2 col-form-label">Bảng công tác tuần</label>
                                                <div class="col-sm-10">
                                                    @Html.TextAreaFor(model => model.CodeHeader, new { Name = "CodeHeader", Id = "CodeHeader", @class = "form-control", rows = "10" })
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <ul>
                            <li style="float:left">
                               
                            </li>
                            <li style="float:right">
                                <div class="card-header">
                                    <button type="submit" class="btn btn-primary btn-round waves-effect waves-light">Cập nhật</button>
                                </div>
                            </li>
                        </ul>
                    </div>

                </div>
            </form>
        </div>
    </div>
</div>

@section ViewSpecificJavascriptAdmin
    {
    <script src="~/Content/Datatable11019/js/jquery.dataTables.min.js"></script>
    <script src="~/Content/Datatable11019/js/dataTables.bootstrap4.min.js"></script>
    <link href="~/Content/Select2-403/css/select2.min.css" rel="stylesheet" />
    <script src="~/Content/Select2-403/js/select2.full.min.js"></script>
    <script src="~/Areas/Admin/Css/js/IndexAdmin.js"></script>
    <script src="~/Areas/Admin/Css/js/Config.js"></script>
    <script src="~/Content/ckeditor/ckeditor.js"></script>
    <script>
        CKEDITOR.replace("ContentFooter");
        //CKEDITOR.replace("CodeAnalytics");
     //   CKEDITOR.replace("CodeHeader");
    </script>
}

