﻿
@using Web_app.Models;
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Lấy mật khẩu</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="description" content="Quản trị website" />
    <meta name="keywords" content="Quản trị website" />
    <meta name="author" content="Sơn béo" />

    <link rel="icon" href="~/Areas/Admin/img/favicon.ico" type="image/x-icon">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Quicksand:500,700" rel="stylesheet">


    <link rel="stylesheet" type="text/css" href="/Areas/Admin/Css/files/bower_components/bootstrap/css/bootstrap.min.css">

    <link rel="stylesheet" href="/Areas/Admin/Css/files/assets/pages/waves/css/waves.min.css" type="text/css" media="all">
    <link rel="stylesheet" type="text/css" href="/Areas/Admin/Css/files/assets/icon/feather/css/feather.css">

    <link rel="stylesheet" type="text/css" href="/Areas/Admin/Css/files/assets/icon/themify-icons/themify-icons.css">

    <link rel="stylesheet" type="text/css" href="/Areas/Admin/Css/files/assets/icon/icofont/css/icofont.css">

    <link rel="stylesheet" type="text/css" href="/Areas/Admin/Css/files/assets/icon/font-awesome/css/font-awesome.min.css">

    <link rel="stylesheet" type="text/css" href="/Areas/Admin/Css/files/assets/css/style.css">
    <link rel="stylesheet" type="text/css" href="/Areas/Admin/Css/files/assets/css/pages.css">
</head>
<body themebg-pattern="theme1">

    <section class="login-block">

        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-12">

                    <form class="md-float-material form-material" action="/HomeAdmin/Fogot" method="post">
                        <div class="text-center">
                            @*<img src="/Areas/Admin/Css/files/assets/images/logo.png" alt="logo.png">*@
                        </div>
                        <div class="auth-box card">
                            <div class="card-block">
                                <div class="row m-b-20">
                                    <div class="col-md-12">
                                        <h3 class="text-center txt-primary">Lấy lại mật khẩu</h3>
                                    </div>
                                </div>
                                <div class="form-group form-primary">
                                    <input type="text" name="Email" class="form-control" required="">
                                    <span class="form-bar"></span>
                                    <label class="float-label">Email đăng ký</label>
                                </div>
                                <div class="row m-t-30">
                                    <div class="col-md-12">
                                        <button type="submit" class="btn btn-primary btn-md btn-block waves-effect text-center m-b-20">LẤY MẬT KHẨU</button>
                                    </div>
                                </div>
                                @if (TempData["MessageSuccess"] != null)
                                {

                                 <p class="login-box-msg text-danger">@TempData["MessageSuccess"].ToString()</p>}
                                <div class="col-md-12">
                                    <div class="forgot-phone text-right float-right">
                                        <a href="/Admin/HomeAdmin/LoginAdmin" class="text-right f-w-600"> Quay lại login</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>

                </div>

            </div>

        </div>

    </section>

    <script type="text/javascript" src="/Areas/Admin/Css/files/bower_components/jquery/js/jquery.min.js"></script>
    <script type="text/javascript" src="/Areas/Admin/Css/files/bower_components/jquery-ui/js/jquery-ui.min.js"></script>
    <script type="text/javascript" src="/Areas/Admin/Css/files/bower_components/popper.js/js/popper.min.js"></script>
    <script type="text/javascript" src="/Areas/Admin/Css/files/bower_components/bootstrap/js/bootstrap.min.js"></script>

    <script src="/Areas/Admin/Css/files/assets/pages/waves/js/waves.min.js" type="text/javascript"></script>

    <script type="text/javascript" src="/Areas/Admin/Css/files/bower_components/jquery-slimscroll/js/jquery.slimscroll.js"></script>

    <script type="text/javascript" src="/Areas/Admin/Css/files/bower_components/modernizr/js/modernizr.js"></script>
    <script type="text/javascript" src="/Areas/Admin/Css/files/bower_components/modernizr/js/css-scrollbars.js"></script>
    <script type="text/javascript" src="/Areas/Admin/Css/files/assets/js/common-pages.js"></script>

    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-23581568-13" type="text/javascript"></script>
    <script type="text/javascript">window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-23581568-13');</script>
</body>
</html>
