﻿@using WebHelpers.Mvc5


<nav class="pcoded-navbar">
    <div class="nav-list">
        <div class="pcoded-inner-navbar main-menu">
            <div class="pcoded-navigation-label">Menu</div>
            <ul class="pcoded-item pcoded-left-item">
                @if (Session["Role"].ToString() == "1")
                {
                    <li>
                        <a href='@Url.Action("ListUser", "User_Admin")' class="waves-effect waves-dark">
                            <span class="pcoded-micon">
                                <i class="fa fa-users"></i>
                            </span>
                            <span class="pcoded-mtext">Tài khoản quản trị</span>
                        </a>
                    </li>
                }
                @if (Session["Role"].ToString() == "1" || Session["Role"].ToString() == "2")
                {
                    <li class="pcoded-hasmenu">
                        <a href="javascript:void(0)" class="waves-effect waves-dark">
                            <span class="pcoded-micon"><i class="fa fa-paint-brush"></i></span>
                            <span class="pcoded-mtext">Quản lý bài viết</span>
                        </a>
                        <ul class="pcoded-submenu">
                            <li>
                                <a href="@Url.Action("NhomTin", "Admin_News")" class="waves-effect waves-dark">
                                    <span class="pcoded-mtext"><i class="fa fa-newspaper-o"></i> Nhóm các bài viết</span>
                                </a>
                            </li>
                            <li>
                                <a href='@Url.Action("BaiTin", "Admin_News")' class="waves-effect waves-dark">
                                    <span class="pcoded-mtext"><i class="fa fa-pencil"></i> Bài viết</span>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="@Url.Action("Advertisement", "Admin_Advertisement")" class="waves-effect waves-dark">
                            <span class="pcoded-micon">
                                <i class="fa fa-image"></i>
                            </span>
                            <span class="pcoded-mtext">Hình ảnh trên web</span>
                        </a>
                    </li>
                    <li>
                        <a href="@Url.Action("Album", "Admin_Album")" class="waves-effect waves-dark">
                            <span class="pcoded-micon">
                                <i class="fa fa-camera"></i>
                            </span>
                            <span class="pcoded-mtext">Album ảnh</span>
                        </a>
                    </li>
                    <li>
                        <a href="@Url.Action("Menu", "Admin_Menu")" class="waves-effect waves-dark">
                            <span class="pcoded-micon">
                                <i class="feather icon-menu"></i>
                            </span>
                            <span class="pcoded-mtext">Menu trên web</span>
                        </a>
                    </li>
                    @*<li>
                        <a href="@Url.Action("ViTri", "HomeAdmin")" class="waves-effect waves-dark">
                            <span class="pcoded-micon">
                                <i class="feather icon-menu"></i>
                            </span>
                            <span class="pcoded-mtext">Các vị trí hiển thị</span>
                        </a>
                    </li>*@
                    <li>
                        <a href="@Url.Action("CauHinh", "HomeAdmin")" class="waves-effect waves-dark">
                            <span class="pcoded-micon">
                                <i class="fa fa-cog"></i>
                            </span>
                            <span class="pcoded-mtext">Cấu hình</span>
                        </a>
                    </li>
                }
            </ul>
        </div>
    </div>
</nav>