@font-face {
    font-family: 'fl-icons';
    src: url("fl-icons.eot");
    src: url("fl-icons.eot#iefix") format("embedded-opentype"),url("fl-icons.woff") format("woff2"),url("fl-icons.ttf") format("truetype"),url("fl-icons.woff") format("woff"),url("fl-icons.svg#fl-icons") format("svg")
}

.lazy-icons i[class^="icon-"] {
    visibility: visible !important
}
