﻿@using DataAccess.Entities;
@model AlbumEntity
@{ Layout = null;}
@if (Model != null)
{
    <div class="cot3-title">
        <h4><a href="/anh-hoat-dong" style="color:#fff">Thư viện ảnh</a></h4>
    </div>
    <div class="img has-hover x md-x lg-x y md-y lg-y" id="image_2010977674">
        <div class="img-inner image-cover dark" style="padding-top:59%;">
            <a href="/anh-hoat-dong">
                <img width="500" height="375" src="@Model.Img.Split(',')[0]" class="attachment-large size-large" alt="@Model.Title" />
            </a>
        </div>
    </div>
}