﻿
@using DataAccess.Entities;
@model List<AdvertisementEntity>
@foreach (var item in Model)
{
    <!-- Single Instagram Slide -->
    <div class="single-instagram">
        <img src="@item.Img" alt="@item.Title">
        <a href="@item.Link"><i class="fa fa-facebook"></i></a>
    </div>
}
