﻿@using Web_app.Models;
@model ConfigViewModel
@{
    ViewBag.Img = "http://c3trunggia.edu.vn/Content/img/Logo.png";
    ViewBag.Title = @HttpUtility.HtmlDecode(Model.SeoTitle != null ? Model.SeoTitle : Model.Company);
    ViewBag.Keyword = @HttpUtility.HtmlDecode(Model.SeoKeyWord != null ? Model.SeoKeyWord : Model.Company);
    ViewBag.Description = @HttpUtility.HtmlDecode(Model.SeoDesciption != null ? Model.SeoKeyWord : Model.Company);
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div id="content" role="main" class="content-area">
    <section class="section block-news-1" id="section_92026303">
        <div class="bg section-bg fill bg-fill  bg-loaded"></div>
        <!-- .section-bg -->
        <div class="section-content relative">
            <div class="row row-small" id="row-917484089">
                @Html.Action("Social", "Home")

                

                <div class="col cot5 medium-5 small-12 large-5">
                    <div class="col-inner" style="padding:0px 0px 0px 15px;">
                        <div class="row large-columns-1 medium-columns-1 small-columns-1 slider row-slider slider-nav-simple slider-nav-push" data-flickity-options='{"imagesLoaded": true, "groupCells": "100%", "dragThreshold" : 5, "cellAlign": "left","wrapAround": true,"prevNextButtons": true,"percentPosition": true,"pageDots": true, "rightToLeft": false, "autoPlay" : 3000}'>
                            @Html.Action("TinSlideDuoiMenu", "News")

                            <!--<div class="col post-item">
                <div class="col-inner">
                    <a href="http://tintuc2.giaodiennguoidung.com/moi-ban-doc-tham-gia-cuoc-thi-thiet-ke-giang-sinh-2017-tu-catholic-design/" class="plain">
                        <div class="box box-normal box-text-bottom box-blog-post has-hover">
                            <div class="box-image">
                                <div class="image-cover" style="padding-top:60%;">
                                    <img width="500" height="359" src="http://tintuc2.giaodiennguoidung.com/wp-content/themes/flatsome/assets/img/lazy.png" data-src="http://tintuc2.giaodiennguoidung.com/wp-content/uploads/2018/04/Thiệp-mời-Lễ-Quan-Thày-Giới-trẻ-Giáo-xứ-Kẻ-Nghệ-1.jpg" class="lazy-load attachment-original size-original wp-post-image" alt="" loading="lazy" srcset="" data-srcset="http://tintuc2.giaodiennguoidung.com/wp-content/uploads/2018/04/Thiệp-mời-Lễ-Quan-Thày-Giới-trẻ-Giáo-xứ-Kẻ-Nghệ-1.jpg 500w, http://tintuc2.giaodiennguoidung.com/wp-content/uploads/2018/04/Thiệp-mời-Lễ-Quan-Thày-Giới-trẻ-Giáo-xứ-Kẻ-Nghệ-1-300x215.jpg 300w" sizes="(max-width: 500px) 100vw, 500px" />
                                </div>
                            </div>-->
                            <!-- .box-image -->
                            <!--<div class="box-text text-left">
                <div class="box-text-inner blog-post-inner">
                    <h5 class="post-title is-large ">Mời bạn đọc tham gia “Cuộc thi Thiết kế Giáng Sinh 2017” từ Catholic Design</h5>
                    <div class="post-meta is-small op-8">5 Tháng Tư, 2018</div>
                    <div class="is-divider"></div>
                    <p class="from_the_blog_excerpt ">CUỘC THI THIẾT KẾ CÔNG GIÁO Mừng Chúa Giáng Sinh 2017 – Tặng Bộ Vector Giáng Sinh Để góp phần xây dựng một sân chơi cho tất cả [...] </p>
                </div>-->
                            <!-- .box-text-inner -->
                            <!--</div>-->
                            <!-- .box-text -->
                            <!--</div>-->
                            <!-- .box -->
                            <!--</a>-->
                            <!-- .link -->
                            <!--</div>-->
                            <!-- .col-inner -->
                            <!--</div>-->
                        </div>
                    </div>
                </div>
                <div class="col cot2 medium-4 small-12 large-4">
                    <div class="col-inner">
                        <div class="row large-columns-1 medium-columns-1 small-columns-1 row-xsmall">
                            @Html.Action("TinSlideDuoiMenuBenPhai", "News")

                            <!--<div class="col post-item">
                <div class="col-inner">
                    <a href="http://tintuc2.giaodiennguoidung.com/nhan-combo-qua-tang-giang-sinh-tet-khi-mua-mau-web-tai-ninhbinhweb-com/" class="plain">
                        <div class="box box-normal box-text-bottom box-blog-post has-hover">
                            <div class="box-image">
                                <div class="image-cover" style="padding-top:0px;">
                                    <img width="300" height="200" src="http://tintuc2.giaodiennguoidung.com/wp-content/themes/flatsome/assets/img/lazy.png" data-src="http://tintuc2.giaodiennguoidung.com/wp-content/uploads/2018/04/2-FILEminimizer-300x200.jpg" class="lazy-load attachment-medium size-medium wp-post-image" alt="" loading="lazy" srcset="" data-srcset="http://tintuc2.giaodiennguoidung.com/wp-content/uploads/2018/04/2-FILEminimizer-300x200.jpg 300w, http://tintuc2.giaodiennguoidung.com/wp-content/uploads/2018/04/2-FILEminimizer.jpg 500w" sizes="(max-width: 300px) 100vw, 300px" />
                                </div>
                            </div>-->
                            <!-- .box-image -->
                            <!--<div class="box-text text-left is-small">
                <div class="box-text-inner blog-post-inner">
                    <h5 class="post-title is-large ">Nhận combo quà tặng Giáng sinh + Tết khi mua mẫu web tại webdemo.com</h5>
                    <div class="is-divider"></div>
                </div>-->
                            <!-- .box-text-inner -->
                            <!--</div>-->
                            <!-- .box-text -->
                            <!--</div>-->
                            <!-- .box -->
                            <!--</a>-->
                            <!-- .link -->
                            <!--</div>-->
                            <!-- .col-inner -->
                            <!--</div>-->

                        </div>
                    </div>
                </div>
                <div class="col cot3 medium-3 small-12 large-3">
                    <div class="col-inner" style="padding:0px 5px 0px 0px;">
                        @Html.Action("VideoGioiThieu", "Home")
                        @Html.Action("AnhQuangCaoDuoiVideo", "Home")
                    </div>
                </div>
                <style scope="scope"></style>
            </div>
        </div>
        <!-- .section-content -->
        <style scope="scope">
            #section_92026303 {
                padding-top: 15px;
                padding-bottom: 15px;
            }
        </style>
    </section>
    <section class="section khoi-tin-2" id="section_1817889277">
        <div class="bg section-bg fill bg-fill  bg-loaded">
            <div class="is-border" style="border-width:1px 0px 0px 0px;"></div>
        </div>
        <!-- .section-bg -->
        <div class="section-content relative">
            <div class="row" id="row-1988629292">
                <div class="col small-12 large-12">
                    <div class="col-inner">
                        <div class="row large-columns-5 medium-columns-1 small-columns-1 row-small row-full-width slider row-slider slider-nav-circle slider-nav-outside slider-nav-push" data-flickity-options='{"imagesLoaded": true, "groupCells": "100%", "dragThreshold" : 5, "cellAlign": "left","wrapAround": true,"prevNextButtons": true,"percentPosition": true,"pageDots": false, "rightToLeft": false, "autoPlay" : false}'>
                            @Html.Action("ThongBao", "News")
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- .section-content -->
        <style scope="scope">
            #section_1817889277 {
                padding-top: 20px;
                padding-bottom: 20px;
                background-color: rgb(249, 237, 214);
            }
        </style>
    </section>
    <div class="gap-element clearfix" style="display:block; height:auto; padding-top:20px"></div>
    <section class="section tin-danh-muc" id="section_1303488215">
        <div class="bg section-bg fill bg-fill  bg-loaded"></div>
        <!-- .section-bg -->
        <div class="section-content relative">
            <div class="row row-small" id="row-1962845789">
                <div class="col left medium-9 small-12 large-9">
                    <div class="col-inner">
                        @Html.Action("NewsHome", "News")
                    </div>
                </div>
                <div class="col cot3 medium-3 small-12 large-3">
                    <div class="col-inner">
                        @Html.Action("TinCotPhai", "News")

                        @*<div class="img has-hover x md-x lg-x y md-y lg-y" id="image_1663820387">
                                <div class="img-inner dark">
                                    <img width="300" height="360" src="http://tintuc2.giaodiennguoidung.com/wp-content/uploads/2018/04/banner-web-2.jpg" class="attachment-original size-original" alt="" loading="lazy" />
                                </div>
                                <style scope="scope">
                                    #image_1663820387 {
                                        width: 100%;
                                    }
                                </style>
                            </div>*@
                    </div>
                </div>
                <style scope="scope"></style>
            </div>
            @*<div class="row row-small" id="row-77335592">
                    <div class="col small-12 large-12">
                        <div class="col-inner text-center">
                            <div class="title bg">
                                <a href="http://tintuc2.giaodiennguoidung.com/category/giao-duc-va-tuong-lai" title="Giáo dục và tương lai">
                                    <span class="title_co bg">Board of Director</span>
                                </a>
                                </p>
                                <ul class="menu_title">
                                    <li>
                                        <a href="#" target="_self" rel="noopener">Đăng ký CTV</a>
                                    </li>
                                    <li>
                                        <a href="#" target="_self" rel="noopener">Hỗ trợ quỹ học bổng</a>
                                    </li>
                                    <li>
                                        <a href="#" target="_self" rel="noopener">Chia sẻ niềm tin</a>
                                    </li>
                                </ul>
                            </div>
                            <div class="img has-hover x md-x lg-x y md-y lg-y" id="image_1023133302">
                                <div class="img-inner dark">
                                    <img width="2003" height="391" src="http://tintuc2.giaodiennguoidung.com/wp-content/uploads/2018/04/28945781_1606561479462901_244007187_o-2.jpg" class="attachment-original size-original" alt="" loading="lazy" srcset="http://tintuc2.giaodiennguoidung.com/wp-content/uploads/2018/04/28945781_1606561479462901_244007187_o-2.jpg 2003w, http://tintuc2.giaodiennguoidung.com/wp-content/uploads/2018/04/28945781_1606561479462901_244007187_o-2-768x150.jpg 768w" sizes="(max-width: 2003px) 100vw, 2003px" />
                                </div>
                                <style scope="scope">
                                    #image_1023133302 {
                                        width: 100%;
                                    }
                                </style>
                            </div>
                        </div>
                    </div>
                    <style scope="scope"></style>
                </div>*@
        </div>
        <!-- .section-content -->
        <style scope="scope">
            #section_1303488215 {
                padding-top: 0px;
                padding-bottom: 0px;
            }
        </style>
    </section>
</div>