﻿
@using DataAccess.Entities;
@model ConfigEntity
@{
    ViewBag.Img = "http://c3trunggia.edu.vn/Content/img/Logo.png";
    ViewBag.Title = @HttpUtility.HtmlDecode(Model.Company ?? "");
    ViewBag.Keyword = @HttpUtility.HtmlDecode(Model.Company ?? "");
    ViewBag.Description = @HttpUtility.HtmlDecode(Model.Company ?? "");
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="page-wrapper page-right-sidebar">
    <div class="row">
        <div id="content" class="large-9 left col col-divided" role="main">
            <div class="page-inner">
                <h2>Trường THPT Trung Giã</h2>
                <p>Địa chỉ: @Model.Address</p>
                <p>Điện thoại: @Model.Phone</p>
                <p>Email: @Model.Email</p>

                @Html.Raw(Model.GoogleMap ?? "")
            </div><!-- .page-inner -->
        </div><!-- .#content large-9 left -->
        @Html.Action("TinMoi", "News")
    </div><!-- .row -->
</div>

<style>
   iframe {
        width: 100% !important;
    }
</style>
