﻿@using DataAccess.Entities;
@model List<AdvertisementEntity>

@foreach (var item in Model.Take(1))
{
    <a href="/" style="width:100%;position:relative" id="banner">
            <img style="width:10%;max-height:150px;position:absolute;top:45px;left:20px" src="~/Content/img/Logo.png" alt="@item.Title" />
            <img style="width: 100%; max-height: 209px; object-fit: cover" src="@item.Img" class="header_logo header-logo" alt="@item.Title" />
            <img style="width: 100%; max-height: 209px; object-fit: cover " src="@item.Img" class="header-logo-dark" alt="@item.Title" />
    </a>
}

