﻿@using DataAccess.Entities;
@model List<MenuEntity>
@{
    var link = "#";
    var linkSub = "#";
}
                            
<ul class="nav nav-sidebar  nav-vertical nav-uppercase">
    <li class="menu-item menu-item-type-post_type menu-item-object-page">
        <a href="/" class="nav-top-link">Trang chủ</a>
    </li>
    @foreach (var item in Model.Where(c => c.ParentId == 0))
    {
        if (!string.IsNullOrEmpty(item.Link))
        {
            link = item.Link;
        }
        else if (!string.IsNullOrEmpty(item.Url))
        {
            link = item.Url;
        }
        else
        {
            link = "#";
        }


        if (Model.Where(c => c.ParentId == int.Parse(item.Id.ToString())).Count() > 0)
        {
            @Html.Raw("<li class=\"menu-item menu-item-type-taxonomy menu-item-object-category menu-item-has-children\">")
            if (link == "#")
            {
                <a class="nav-top-link" href="/Home/PageDetail?Id=@item.Id">@item.Title <i class="icon-angle-down"></i></a>
            }
            else
            {
                <a class="nav-top-link" href="@link">@item.Title <i class="icon-angle-down"></i></a>
            }
        }
        else
        {
            @Html.Raw("<li class=\"menu-item menu-item-type-post_type menu-item-object-page menu\">")
            if (link == "#")
            {
                <a class="nav-top-link" href="/Home/PageDetail?Id=@item.Id">@item.Title </a>
            }
            else
            {
                <a class="nav-top-link" href="@link">@item.Title </a>
            }
        }

        if (Model.Any(c => c.ParentId == int.Parse(item.Id.ToString())))
        {
            <ul class="children">
                @foreach (var itemSub in Model.Where(d => d.ParentId == item.Id))
                {
                    if (!string.IsNullOrEmpty(itemSub.Link))
                    {
                        linkSub = itemSub.Link;
                    }
                    else if (!string.IsNullOrEmpty(itemSub.Url))
                    {
                        linkSub = itemSub.Url;
                    }
                    else
                    {
                        linkSub = "#";
                    }
                    <li class="menu-item menu-item-type-taxonomy menu-item-object-category">
                        @if (linkSub == "#")
                        {
                            <a href="/Home/PageDetail?Id=@itemSub.Id">@itemSub.Title</a>
                        }
                        else
                        {
                            <a href="@linkSub">@itemSub.Title</a>
                        }
                    </li>
                }
            </ul>
        }
        @Html.Raw("</li>")
    }

    @*<li id="menu-item-945" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-has-children  menu-item-945 has-dropdown">
            <a href="http://tintuc2.giaodiennguoidung.com/chuyen-muc/tin-tuc/" class="nav-top-link">
                Tin tức <i class="icon-angle-down"></i>
            </a>
            <ul class='nav-dropdown nav-dropdown-simple dark'>
                <li id="menu-item-970" class="menu-item menu-item-type-taxonomy menu-item-object-category  menu-item-970">
                    <a href="http://tintuc2.giaodiennguoidung.com/chuyen-muc/tin-tuc/giao-hoi-hoan-vu/">Giáo hội Hoàn Vũ</a>
                </li>
                <li id="menu-item-971" class="menu-item menu-item-type-taxonomy menu-item-object-category  menu-item-971">
                    <a href="http://tintuc2.giaodiennguoidung.com/chuyen-muc/tin-tuc/giao-hoi-viet-nam/">Giáo hội Việt Nam</a>
                </li>
            </ul>
        </li>*@
    @Html.Action("Search", "News")
    
</ul>
