﻿<!-- Modal -->
<div class="modal fade ModalContact" tabindex="-1" role="dialog" aria-hidden="true">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><i class="fas fa-times"></i></button>
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <!--Header-->
            <div class="modal-header">
                <h3 class="modal-title">Mời bạn để lại thông tin, chúng tôi sẽ liên hệ với bạn ngay!</h3>
            </div>
            <!--Header-->
            <!--Body-->
            <div class="modal-body">
                    <div class="form-row mt-3">
                        <!--Name-->
                        <div class="form-group col-md-6">
                            <label for="inputFullName">Họ tên</label>
                            <input type="text" class="form-control form-control-lg" required id="inputFullName" placeholder="Họ tên">
                        </div>
                        <!--Name-->
                        <!--Email-->
                        <div class="form-group col-md-6">
                            <label for="inputEmail">Số điện thoại</label>
                            <input type="number" required class="form-control form-control-lg" id="inputPhone" placeholder="Số điện thoại">
                        </div>
                        <!--Email-->
                    </div>
                    <button type="button" id="btnSubmit" class="btn btn-outline-primary btn-lg mt-4"><span>Gửi thông tin</span></button>
                    <p id="Mesage" style="color:green; display:none">Cảm ơn bạn đã để lại thông tin! Chúng tôi sẽ liên hệ trong thời gian sớm nhất</p>
            </div>
            <!--Body-->
        </div>
    </div>
</div>
<!-- Modal Contact -->
  
<script>
    $(document).ready(function () {
        $('#btnSubmit').click(function () {
            var sdt = $("#inputPhone").val();
            var name = $("#inputFullName").val();
            if (sdt != null && sdt != "") {
                $.ajax({
                    type: 'POST',
                    contentType: 'application/json; charset=utf-8',
                    url: '/Home/SendEmailContact',
                    data: JSON.stringify({ name: name, phone: sdt }),
                    dataType: 'json',
                    success: function (result) {
                        if (result.result === "Success") {
                            $("#Mesage").css("display", "block");
                        }
                    }
                });
            }
        });
    });
</script>