﻿
@using DataAccess.Entities;
@using Web_app.Common;
@model MenuEntity
@{
    ViewBag.Name = "http://c3trunggia.edu.vn/";
    ViewBag.Img = "http://c3trunggia.edu.vn/" + @Model.Img + "";
    ViewBag.Title = @HttpUtility.HtmlDecode(Model.Title ?? "");
    ViewBag.Keyword = @HttpUtility.HtmlDecode(Model.Title ?? "");
    ViewBag.Description = @HttpUtility.HtmlDecode(Model.Title ?? "");
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div id="content" class="blog-wrapper blog-single page-wrapper">
    <div class="row row-large ">
        <div class="large-12 col">
            <article id="post-330" class="post-330 post type-post status-publish format-standard has-post-thumbnail hentry category-chia-se category-cuoc-song category-giao-hoi-hoan-vu category-giao-hoi-viet-nam category-goc-chia-se category-hinh-anh category-hoc-hoi category-hoc-wordpress category-nghe-thuat category-thiet-ke-do-hoa category-thiet-ke-website category-tin-tuc">
                <div class="article-inner ">
                    <header class="entry-header">
                        <div class="entry-header-text entry-header-text-top text-left">
                            <h6 class="entry-category is-xsmall">
                                <a href="/">Trang chủ</a> > <a href="#">@Model.Title</a>
                            </h6>

                            <h1 class="entry-title">@Model.Title</h1>
                            <div class="entry-divider is-divider small"></div>

                        </div><!-- .entry-header -->

                    </header><!-- post-header -->
                    <div class="entry-content single-page">
                        @Html.Raw(Model.Detail ?? "")
                    </div><!-- .entry-content2 -->

                </div><!-- .article-inner -->
            </article><!-- #-330 -->

        </div> <!-- .large-9 -->


    </div><!-- .row -->

</div>

