﻿
<div class="col-inner">
    <p>
        <span style="font-weight: bold;">Đăng ký nhận bản tin</span>
    </p>
    <p>
        <span style="font-size: 85%; ">Nhập địa chỉ email của bạn để đăng ký theo bản bản tin của chúng tôi:</span>
    </p>
    <div class="wpcf7">
        <div class="screen-reader-response">
            <p role="status" aria-live="polite" aria-atomic="true"></p>
            <ul></ul>
        </div>
        <div class="wpcf7-form init">
            <div class="form-nhan-tin">
                <p>
                    <span class="wpcf7-form-control-wrap your-email">
                        <input type="email" name="email" id="email" size="40" class="wpcf7-form-control wpcf7-text wpcf7-email wpcf7-validates-as-required wpcf7-validates-as-email" aria-required="true" aria-invalid="false" placeholder="Nhập email của bạn (*)">
                    </span>
                </p>
                <p>
                    <input type="button" id="btnSubmit" value="Đăng ký" class="wpcf7-form-control wpcf7-submit button">
                </p>
                <p id="Mesage" style="color:green; display:none">Cảm ơn bạn đã để lại thông tin!</p>
            </div>
        </div>
    </div>
</div>

@*<div class="newsletter-content">
        <p>Nếu bạn có thắc mắc hoặc câu hỏi gì, hãy để lại email. Tôi sẽ liên hệ với bạn!</p>
        <input type="email" id="email" class="form-control" placeholder="Email của bạn">
        <button id="btnSubmit"><i class="fa fa-send"></i></button>
        <p id="Mesage" style="color:green; display:none">Cảm ơn bạn đã để lại thông tin!</p>
</div>*@
<script>
    $('#btnSubmit').click(function (e) {
        var emailTo = $("#email").val();
        if (emailTo != null || emailTo != "") {
            $.ajax({
                type: 'POST',
                contentType: 'application/json; charset=utf-8',
                url: '/Home/SendEmail',
                data: JSON.stringify({ email: emailTo }),
                dataType: 'json',
                success: function (result) {
                    if (result.result === "Success") {
                        $("#Mesage").css("display", "block");
                    }
                }
            });
        }
    });
</script>