﻿@using DataAccess.Entities;
@model List<AdvertisementEntity>
@{ Layout = null;}


<link href="~/Content/css/Banner/css/index.css" rel="stylesheet" />

<div id="banner">
    <!-- Parallax Background -->
    <div class="bannerBg">
        <div class="bannerBg01"></div>
        <div class="bannerBg02"></div>
        <div class="bannerBg03"></div>
    </div>

    <!-- Image Loading Indicator -->
    @*<div class="banner_loading">Loading...</div>*@

    <!-- Carousel Content -->
    <div class="banner_content">
        <ul class="banner_images">
            @foreach (var item in Model)
            {
                <li><img src="@item.Img" alt="@item.Title"></li>
            }

        </ul>
        <!-- Navigation Controls -->
        <div class="bannerGuide">
            <span class="bannerGuide_last"></span>
            <span class="bannerGuide_next"></span>
        </div>
        <!-- Thumbnails -->
        <ul class="banner_thumbnails">
            @foreach (var item in Model)
            {
                <li><img src="@item.Img" alt="@item.Title"></li>
            }

        </ul>
    </div>
    <div class="banner_footer" style="width:728px; margin:30px auto; background-color: blue"></div>
</div>
