﻿
@using DataAccess.Entities;
@model ConfigEntity
    <div class="widget-social-info text-center">
        <a href="@Model.LinkFace"><i class="fa fa-facebook"></i></a>
        <a href="#"><i class="fa fa-twitter"></i></a>
        <a href="#"><i class="fa fa-instagram"></i></a>
        <a href="@Model.LinkGoogle"><i class="fa fa-google-plus"></i></a>
        <a href="@Model.LinkYoutube"><i class="fa fa-youtube"></i></a>
        <a href="#"><i class="fa fa-linkedin"></i></a>
        <a href="#"><i class="fa fa-rss"></i></a>
    </div>
