﻿@using DataAccess.Entities;
@model ConfigEntity
@*<style>
    .face-page iframe{
        width:90% !important
    }
</style>*@
<div class="col-12 col-sm-3">
    <h4 class="footer__title-link">Liên hệ</h4>
    <ul class="p-0 m-0 footer-links">
        <li><a href="tel:@Model.Hotline" title="">Hotline: @Model.Hotline</a></li>
        <li><a href="#" title="">Email: @Model.Email</a></li>
        <li><a href="c3trunggia.edu.vn" title="">Website: c3trunggia.edu.vn</a></li>
        <li><a href="@Model.LinkYoutube" title="Youtube" target="_blank">Youtube channel</a></li>
        <li><a href="@Model.LinkFace" title="Facebook" target="_blank">Link Facebook</a></li>
    </ul>
</div>
<div class="col-12 col-sm-7 face-page">
    <h4 class="footer__title-link mb-4">Fanpage</h4>
    <div id="fb-root"></div>
    <script async defer crossorigin="anonymous" src="https://connect.facebook.net/vi_VN/sdk.js#xfbml=1&version=v8.0" nonce="hBgJyBsZ"></script>
    <div class="fb-page" data-href="@Model.FanPage" data-tabs="" data-width="500" data-height="200" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true"><blockquote cite="@Model.FanPage" class="fb-xfbml-parse-ignore"><a href="@Model.FanPage">POP Studio</a></blockquote></div>
</div>



