﻿@using DataAccess.Entities;
@model LuotTruyCapEntity

<div class="cot3-title">
    <h4>Thống kê truy cập</h4>
</div>
<div class="row large-columns-1 medium-columns-1 small-columns-1 row-xsmall">
    <div class="col post-item">
        <div class="col-inner">
            <div class="box box-normal box-text-bottom box-blog-post has-hover">
                <div class="box-text text-left is-small">
                    <div class="box-text-inner blog-post-inner" style="padding:10px">
                        <h5 class="is-large " style="margin-bottom:20px;">
                            <i class="icon-user"></i> Đang online:  <b style="color: #981b1e">@ViewBag.DangTruyCap</b>
                        </h5>
                        <h5 class="is-large " style="margin-bottom:20px;">
                            <i class="icon-user"></i> Truy cập trong ngày: <b style="color: #981b1e">@Model.TruyCapNgay</b>
                        </h5>
                        <h5 class="is-large " style="margin-bottom:20px;">
                            <i class="icon-user"></i> Truy cập trong tuần: <b style="color: #981b1e">@Model.TruyCapTuan</b>
                        </h5>
                        <h5 class="is-large " style="margin-bottom:20px;">
                            <i class="icon-user"></i> Truy cập trong tháng: <b style="color: #981b1e">@Model.TruyCapThang</b>
                        </h5>
                        <h5 class="is-large " style="margin-bottom:20px;">
                            <i class="icon-user"></i> Tổng lượt truy cập: <b style="color: #981b1e">@Model.TongLuotTruyCap</b>
                        </h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
