﻿
@using DataAccess.Entities;
@model ConfigEntity
@{ Layout = null;}
<style>
    #vdeoGioiThieu iframe {
        width: 100% !important;
    }
</style>
<div class="cot3-title">
    <h4>Video giới thiệu</h4>
</div>
<div class="video video-fit mb" id="vdeoGioiThieu" style="padding-top:50%;">
    <p>
        @Html.Raw(Model.LinkVideo ?? "")
        @*<iframe loading="lazy" width="1020" height="574" src="https://www.youtube.com/embed/2wmzbv7is5M?feature=oembed" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>*@
    </p>
</div>
