﻿@using System.Web.Optimization
@using Web_app.Common;
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>
        @if (!string.IsNullOrWhiteSpace(ViewBag.Title))
        {
            @ViewBag.Title
        }
    </title>
    <meta name="Keyword" content="@ViewBag.Keyword" />
    <meta name="Description" content="@ViewBag.Description" />
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta property="og:title" content="@ViewBag.Title" />
    <meta property="og:image" content="@ViewBag.Img" />
    <meta property="og:description" content="@ViewBag.Description" />
    <meta property="og:type" content="website" />
    <meta property="og:locale" content="vi_VN" />
    <link rel="canonical" href="http://www.c3trunggia.edu.vn/" />
    <link rel="shortlink" href="http://www.c3trunggia.edu.vn/" />
    <meta property="og:site_name" content="@ViewBag.Title" />
    <meta property="og:url" content="@ViewBag.Name" />
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:url" content="@ViewBag.Name" />
    <meta name="twitter:title" content="@ViewBag.Title" />
    <meta itemprop="name" content="@ViewBag.Title" />
    <meta itemprop="description" content="@ViewBag.Description">
    <meta name="dcterms.title" content="@ViewBag.Title" />
    <meta name="dcterms.type" content="Text" />
    <meta name="dcterms.format" content="text/html" />
    <meta name="dcterms.identifier" content="http://www.c3trunggia.edu.vn/" />
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <script type="text/javascript">
        window._wpemojiSettings = { "baseUrl": "https:\/\/s.w.org\/images\/core\/emoji\/13.1.0\/72x72\/", "ext": ".png", "svgUrl": "https:\/\/s.w.org\/images\/core\/emoji\/13.1.0\/svg\/", "svgExt": ".svg", "source": { "concatemoji": "http:\/\/tintuc2.giaodiennguoidung.com\/wp-includes\/js\/wp-emoji-release.min.js?ver=5.8.3" } };
        !function (e, a, t) { var n, r, o, i = a.createElement("canvas"), p = i.getContext && i.getContext("2d"); function s(e, t) { var a = String.fromCharCode; p.clearRect(0, 0, i.width, i.height), p.fillText(a.apply(this, e), 0, 0); e = i.toDataURL(); return p.clearRect(0, 0, i.width, i.height), p.fillText(a.apply(this, t), 0, 0), e === i.toDataURL() } function c(e) { var t = a.createElement("script"); t.src = e, t.defer = t.type = "text/javascript", a.getElementsByTagName("head")[0].appendChild(t) } for (o = Array("flag", "emoji"), t.supports = { everything: !0, everythingExceptFlag: !0 }, r = 0; r < o.length; r++)t.supports[o[r]] = function (e) { if (!p || !p.fillText) return !1; switch (p.textBaseline = "top", p.font = "600 32px Arial", e) { case "flag": return s([127987, 65039, 8205, 9895, 65039], [127987, 65039, 8203, 9895, 65039]) ? !1 : !s([55356, 56826, 55356, 56819], [55356, 56826, 8203, 55356, 56819]) && !s([55356, 57332, 56128, 56423, 56128, 56418, 56128, 56421, 56128, 56430, 56128, 56423, 56128, 56447], [55356, 57332, 8203, 56128, 56423, 8203, 56128, 56418, 8203, 56128, 56421, 8203, 56128, 56430, 8203, 56128, 56423, 8203, 56128, 56447]); case "emoji": return !s([10084, 65039, 8205, 55357, 56613], [10084, 65039, 8203, 55357, 56613]) }return !1 }(o[r]), t.supports.everything = t.supports.everything && t.supports[o[r]], "flag" !== o[r] && (t.supports.everythingExceptFlag = t.supports.everythingExceptFlag && t.supports[o[r]]); t.supports.everythingExceptFlag = t.supports.everythingExceptFlag && !t.supports.flag, t.DOMReady = !1, t.readyCallback = function () { t.DOMReady = !0 }, t.supports.everything || (n = function () { t.readyCallback() }, a.addEventListener ? (a.addEventListener("DOMContentLoaded", n, !1), e.addEventListener("load", n, !1)) : (e.attachEvent("onload", n), a.attachEvent("onreadystatechange", function () { "complete" === a.readyState && t.readyCallback() })), (n = t.source || {}).concatemoji ? c(n.concatemoji) : n.wpemoji && n.twemoji && (c(n.twemoji), c(n.wpemoji))) }(window, document, window._wpemojiSettings);
    </script>
    <link href="~/Content/css/style.min.css" rel="stylesheet" />
    <link href="~/Content/css/styles.css" rel="stylesheet" />
    <link href="~/Content/css/font-awesome.min.css" rel="stylesheet" />
    <link href="~/Content/css/flatsome.css" rel="stylesheet" />
    <script src="~/Content/css/js/jquery.min.js"></script>
    <script src="~/Content/css/js/jquery-migrate.min.js"></script>
    <script type="text/javascript">
        WebFontConfig = {
            google: {
                families: ["Roboto:regular,regular", "Roboto:regular,regular", "Roboto:regular,700", "Dancing+Script:regular,400",]
            }
        };
        (function () {
            var wf = document.createElement('script');
            wf.src = 'https://ajax.googleapis.com/ajax/libs/webfont/1/webfont.js';
            wf.type = 'text/javascript';
            wf.async = 'true';
            var s = document.getElementsByTagName('script')[0];
            s.parentNode.insertBefore(wf, s);
        })();
    </script>
    <link href="~/Content/css/Custom.css" rel="stylesheet" />
    <script src="~/Content/js/jquery-1.11.1.min.js"></script>
    @Html.Action("CodeHeader", "Home")
</head>
<body class="home page-template page-template-page-blank page-template-page-blank-php page page-id-2 full-width lightbox lazy-icons">
    @Html.Action("Codebody", "Home")

    <div id="wrapper">
        <header id="header" class="header has-sticky sticky-jump">
            <div class="header-wrapper">
                <div id="masthead" class="header-main hide-for-sticky">
                    <div class="header-inner flex-row container logo-left medium-logo-center" role="navigation">
                        <!-- Logo -->
                        <!-- Header logo -->
                        @Html.Action("Logo", "Home")
                        
                        <!-- Mobile Left Elements -->
                        <div class="flex-col show-for-medium flex-left">
                            <ul class="mobile-nav nav nav-left ">
                                <li class="nav-icon has-icon">
                                    <div class="header-button">
                                        <a href="#" data-open="#main-menu" data-pos="left" data-bg="main-menu-overlay" data-color="" class="icon primary button round is-small" aria-controls="main-menu" aria-expanded="false">
                                            <i class="icon-menu"></i>
                                        </a>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <!-- Left Elements -->
                        <div class="flex-col hide-for-medium flex-left flex-grow">
                            <ul class="header-nav header-nav-main nav nav-left  nav-uppercase"></ul>
                        </div>
                        <!-- Right Elements -->
                        <div class="flex-col hide-for-medium flex-right">
                            <ul class="header-nav header-nav-main nav nav-right  nav-uppercase"></ul>
                        </div>
                        <!-- Mobile Right Elements -->
                        <div class="flex-col show-for-medium flex-right">
                            <ul class="mobile-nav nav nav-right "></ul>
                        </div>
                    </div>
                    <!-- .header-inner -->
                    <!-- Header divider -->
                    <div class="container">
                        <div class="top-divider full-width"></div>
                    </div>
                </div>
                <!-- .header-main -->
                <div id="wide-nav" class="header-bottom wide-nav nav-dark hide-for-medium">
                    <div class="flex-row container">
                        <div class="flex-col hide-for-medium flex-left">
                            @Html.Action("Menu", "Home")
                        </div>
                        <!-- flex-col -->
                        <div class="flex-col hide-for-medium flex-right flex-grow">
                            <ul class="nav header-nav header-bottom-nav nav-right  nav-size-medium nav-spacing-small"></ul>
                        </div>
                        <!-- flex-col -->
                    </div>
                    <!-- .flex-row -->
                </div>
                <!-- .header-bottom -->
                <div class="header-bg-container fill">
                    <div class="header-bg-image fill"></div>
                    <div class="header-bg-color fill"></div>
                </div>
                <!-- .header-bg-container -->
            </div>
            <!-- header-wrapper-->
        </header>
        <main id="main" class="">
            @RenderBody()
        </main>
        <!-- #main -->
        <footer id="footer" class="footer-wrapper">
            <section class="section footer-block" id="section_1171706287">
                <div class="bg section-bg fill bg-fill  bg-loaded"></div>
                <!-- .section-bg -->
                <div class="section-content relative">
                    <div class="row" id="row-1370417901">
                        <div class="col medium-9 small-12 large-9">
                            <div class="col-inner">
                                <div class="row row-small" id="row-787177437">
                                    <div class="col medium-9 small-12 large-9">
                                        <div class="col-inner">
                                            <p>
                                                <span style="font-size: 100%; font-weight: bold;">Trường THPT Trung Giã, trực thuộc Sở giáo dục và Đào tạo Hà Nội</span>
                                            </p>
                                            <p>
                                                <span style="font-size: 85%; ">
                                                    <i class="icon-map-pin-fill"></i>&nbsp;&nbsp;  Địa chỉ: Phố Nỷ, Trung Giã, Sóc Sơn, Hà Nội
                                                </span>
                                            </p>
                                            <p>
                                                <span style="font-size: 85%; ">
                                                    <i class="icon-envelop"></i>&nbsp;&nbsp;  Email: c3trunggia@hanoiedu.vn
                                                </span>
                                            </p>
                                            <p>
                                                <span style="font-size: 85%; ">
                                                    <i class="icon-user"></i>&nbsp;&nbsp;  Hiệu Trưởng: Nguyễn Thị Tươi
                                                </span>
                                            </p>
                                            <p>
                                                <span style="font-size: 85%; ">
                                                    <i class="icon-phone"></i>&nbsp;&nbsp;  Điện thoại: 0912.769.056
                                                </span>
                                            </p>
                                        </div>
                                    </div>
                                    <div class="col medium-3 small-12 large-3">
                                        <div class="col-inner">
                                            <p>
                                                <span style="font-size: 100%; font-weight: bold;">Liên kết website</span>
                                            </p>
                                            <p>
                                                <span style="font-size: 85%; ">
                                                    <a href="https://moet.gov.vn/Pages/home.aspx" target="_blank">
                                                        <i class="icon-feed"></i>&nbsp;&nbsp;  Bộ giáo dục và đào tạo
                                                    </a>
                                                </span>
                                            </p>
                                            <p>
                                                <span style="font-size: 85%; ">
                                                    <a href="https://hanoi.edu.vn/">
                                                        <i class="icon-feed"></i>&nbsp;&nbsp;  Sở  GD&DT Thành Phố Hà Nội <br />
                                                    </a>
                                                </span>
                                            </p>
                                        </div>
                                    </div>


                                    <style scope="scope"></style>
                                </div>
                            </div>
                        </div>
                        <div class="col cot3 medium-3 small-12 large-3">
                            @Html.Action("RegisterEmail", "Home")
                        </div>
                    </div>
                </div>
                <!-- .section-content -->
                <style scope="scope">
                    #section_1171706287 {
                        padding-top: 15px;
                        padding-bottom: 15px;
                    }
                </style>
            </section>
            <div class="absolute-footer dark medium-text-center small-text-center">
                <div class="container clearfix">
                    <div class="footer-secondary pull-right">
                        <!-- Histats.com  (div with counter) --><!--<div id="histats_counter"></div>-->
                        <!-- Histats.com  START  (aync)-->
                        <!--<script type="text/javascript">
                            var _Hasync = _Hasync || [];
                            _Hasync.push(['Histats.start', '1,4628563,4,4002,112,61,00011111']);
                            _Hasync.push(['Histats.fasi', '1']);
                            _Hasync.push(['Histats.track_hits', '']);
                            (function () {
                                var hs = document.createElement('script'); hs.type = 'text/javascript'; hs.async = true;
                                hs.src = ('//s10.histats.com/js15_as.js');
                                (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(hs);
                            })();</script>
                        <noscript><a href="/" target="_blank"><img src="//sstatic1.histats.com/0.gif?4628563&101" alt="" border="0"></a></noscript>-->
                        <!-- Histats.com  END  -->
                        <div class="footer-text inline-block small-block"> @*Phone: 0909.009.009 <br /> Email: Webgiaodiennguoidung@gmail.com*@ </div>
                    </div>
                    <!-- -right -->
                    <div class="footer-primary pull-left">
                        <div class="copyright-footer">
                            Copyright 2022 © <strong>c3trunggia.edu.vn</strong>
                            @*<br /> Địa chỉ: Phố Nỷ, Trung Giã, Sóc Sơn, Hà Nội*@
                        </div>
                    </div>
                    <!-- .left -->
                </div>
                <!-- .container -->
            </div>
            <!-- .absolute-footer -->
            <a href="#top" class="back-to-top button invert plain is-outline hide-for-medium icon circle fixed bottom z-1" id="top-link">
                <i class="icon-angle-up"></i>
            </a>
        </footer>
        <!-- .footer-wrapper -->
    </div>




    <!-- Mobile Sidebar -->
    <div id="main-menu" class="mobile-sidebar no-scrollbar mfp-hide">
        <div class="sidebar-menu no-scrollbar ">
            @Html.Action("MenuMobile", "Home")

            @*<ul class="nav nav-sidebar  nav-vertical nav-uppercase">
                <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home current-menu-item page_item page-item-2 current_page_item menu-item-68">
                    <a href="http://tintuc2.giaodiennguoidung.com/" class="nav-top-link">Trang chủ</a>
                </li>
               
                <li class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-has-children menu-item-945">
                    <a href="http://tintuc2.giaodiennguoidung.com/chuyen-muc/tin-tuc/" class="nav-top-link">Tin tức</a>
                    <ul class=children>
                        <li class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-970">
                            <a href="http://tintuc2.giaodiennguoidung.com/chuyen-muc/tin-tuc/giao-hoi-hoan-vu/">Giáo hội Hoàn Vũ</a>
                        </li>
                        <li class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-971">
                            <a href="http://tintuc2.giaodiennguoidung.com/chuyen-muc/tin-tuc/giao-hoi-viet-nam/">Giáo hội Việt Nam</a>
                        </li>
                    </ul>
                </li>
              
            </ul>*@
        </div>
        <!-- inner -->
    </div>
    <!-- #mobile-menu -->
    <script id="lazy-load-icons">
        /* Lazy load icons css file */
        var fl_icons = document.createElement('link');
        fl_icons.rel = 'stylesheet';
        fl_icons.href = '/Content/css/fl-icons.css';
        fl_icons.type = 'text/css';
        var fl_icons_insert = document.getElementsByTagName('link')[0];
        fl_icons_insert.parentNode.insertBefore(fl_icons, fl_icons_insert);
    </script>
    <script src="~/Content/css/js/regenerator-runtime.min.js"></script>
    <script src="~/Content/css/js/wp-polyfill.min.js"></script>
    <script type='text/javascript' id='contact-form-7-js-extra'>
        /* <![CDATA[ */
        var wpcf7 = { "api": { "root": "http:\/\/tintuc2.giaodiennguoidung.com\/wp-json\/", "namespace": "contact-form-7\/v1" } };
        /* ]]> */
    </script>
    <script src="~/Content/css/js/index.js"></script>
    <script src="~/Content/css/js/hoverIntent.min.js"></script>
    <script type='text/javascript' id='flatsome-js-js-extra'>
        /* <![CDATA[ */
        var flatsomeVars = { "ajaxurl": "http:\/\/tintuc2.giaodiennguoidung.com\/wp-admin\/admin-ajax.php", "rtl": "", "sticky_height": "70", "user": { "can_edit_pages": false } };
/* ]]> */
    </script>
    <script src="~/Content/css/js/flatsome.js"></script>
    <script src="~/Content/css/js/flatsome-lazy-load.js"></script>
    <script src="~/Content/css/js/wp-embed.min.js"></script>
    @RenderSection("ViewSpecificJavascript", required: false)
</body>
</html>