﻿
@using Web_app.Models;
@model AlbumViewModel

<form action="/Admin_Album/Add_Album" method="post">
    <input id="Id" name="Id" type="hidden" />
    <div class="modal fade md-effect-11" id="modal-img" role="dialog" style="z-index: 1050; display: none;" aria-hidden="true">
        <div class="modal-dialog modal-lg" style="max-width: 70%;">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Thêm mới, chỉnh sửa album ảnh</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">

                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label">Chọn vị trí</label>
                        <div class="col-sm-10">
                            @Html.DropDownListFor(model => model.Location, new SelectList(Model.Locations, "Id", "Name", 0), "", new { Id = "Location", Name = "Location", @class = "form-control fill" })
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label">Tiêu đề album</label>
                        <div class="col-sm-10">
                            <input type="text" name="Title" class="form-control" />
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label">Ảnh cho album</label>
                        <div class="col-sm-10">
                            <div class="col-sm-2" style="float: left;padding: 0px;">
                                <input type="hidden" name="Img" id="ListImg" readonly class="form-control" />

                                <input name="upload[]" id="upload" type="file" multiple="multiple" value="Tải hình ảnh">
                            </div>
                            <div class="col-sm-12" style="float:left;margin-top: 10px;padding: 10px;border: 1px solid #d2cdcd;border-radius: 10px;display:none" id="ListImgView">
                               
                            </div>
                            
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label">Mô tả</label>
                        <div class="col-sm-10">
                            <textarea id="Description" name="Description" class="form-control" rows="10" cols="20"></textarea>
                        </div>
                    </div>
                    
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default waves-effect " data-dismiss="modal">Hủy</button>
                    <button type="submit" class="btn btn-primary waves-effect waves-light ">Cập nhật thông tin</button>
                </div>
            </div>
        </div>
    </div>
</form>