﻿
@{
    ViewBag.Title = "đơn hàng";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}
@using Web_app.Models;
@model DonHangViewModel


<div class="page-header card">
    <div class="row align-items-end">
        <div class="col-lg-8">
            <div class="page-header-title">
                <i class="feather icon-server bg-c-blue"></i>
                <div class="d-inline">
                    <h5>Quản trị đơn hàng trên trang</h5>
                    <span>Thêm, sửa, xóa một đơn hàng</span>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="page-header-breadcrumb">
                @if (TempData["MessageSuccess"] != null)
                {
                    <div class="alert alert-success icons-alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <i class="icofont icofont-close-line-circled text-white"></i>
                        </button>
                        <strong>Thông báo!</strong> @TempData["MessageSuccess"].ToString()
                    </div>
                }
                @if (TempData["MessageError"] != null)
                {
                    <div class="alert alert-danger icons-alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <i class="icofont icofont-close-line-circled text-white"></i>
                        </button>
                        <strong>Thông báo!</strong> @TempData["MessageError"].ToString()
                    </div>
                }
                <div id="MesageDelete" class="alert alert-info background-info" style="display:none">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <i class="icofont icofont-close-line-circled"></i>
                    </button>
                    <p><strong>Thông báo!</strong> Xóa thông tin thành công</p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="pcoded-inner-content">
    <div class="main-body">
        <div class="page-wrapper">

            <div class="page-body">
                <div class="card">
                    <ul>
                        <li class="col-sm-3" style="float:left;margin:15px 0">
                            <div class="form-group row" style="margin-bottom: 0;">
                                <label class="col-sm-5 col-form-label">Tên sản phẩm</label>
                                <div class="col-sm-7">
                                    <input id="TenSearch" type="text" />
                                </div>
                            </div>
                        </li>
                        <li class="col-sm-5" style="float:left;margin:15px 0">
                            <div class="form-group row" style="margin-bottom: 0;">
                                <label class="col-sm-4 col-form-label">Đã thanh toán hay chưa</label>
                                <div class="col-sm-7">
                                    <select id="ActiveSearch" class="form-control fill" onchange="Search();">
                                        <option value="">--- Chọn trạng thái ---</option>
                                        <option value="0">Chưa thanh toán</option>
                                        <option value="1">Đã thanh toán </option>
                                    </select>
                                </div>
                            </div>
                        </li>

                        <li class="col-sm-3" style="float:left;margin:15px 0">
                            <div class="form-group row" style="margin-bottom: 0;">
                                <button class="btn btn-primary btn-round waves-effect waves-light" onclick="Search();">Tìm kiếm</button>
                            </div>
                        </li>
                        <li class="col-sm-6">
                            <div class="form-group row" style="margin-bottom: 0;">
                                <label class="col-sm-4 col-form-label">Tìm theo khoảng thời gian</label>
                                <div class="col-sm-3">
                                    <input class="form-control" id="DateFromSearch" data-inputmask="'alias': 'yyyy/mm/dd'" data-mask="" type="date">
                                </div>
                                <label class="col-sm-1 col-form-label">Đến</label>
                                <div class="col-sm-3">
                                    <input class="form-control" id="DateToSearch" onchange="Search();" data-inputmask="'alias': 'yyyy/mm/dd'" data-mask="" type="date">
                                </div>
                            </div>
                        </li>
                        <li class="col-sm-6" style="float:left">
                            <div class="form-group row" style="margin-bottom: 0;">
                                <button id="Export_time" type="button" class="btn btn-primary btn-round waves-effect waves-light">Xuất báo cáo theo khoảng thời gian</button>
                            </div>
                        </li>
                    </ul>

                    <ul>
                        <li style="float:left">
                            <div class="card-header">
                                <h5>Danh sách đơn hàng</h5>
                            </div>
                        </li>
                    </ul>

                    <div class="card-block" style="padding-top:0">
                        <div class="dt-responsive table-responsive">
                            <div id="multi-colum-dt_wrapper" class="dataTables_wrapper dt-bootstrap4">
                                <div class="row">
                                    <div class="col-xs-12 col-sm-12">
                                        <table id="ListDonHang" class="table table-striped table-bordered nowrap dataTable">
                                            <thead>
                                                <tr role="row">
                                                    <th class="sorting" tabindex="0" aria-controls="multi-colum-dt" rowspan="1" colspan="1" style="width: 90px;">Id</th>
                                                    <th class="sorting" tabindex="0" aria-controls="multi-colum-dt" rowspan="1" colspan="1">Tên đơn hàng</th>
                                                    <th class="sorting" tabindex="0" aria-controls="multi-colum-dt" rowspan="1" colspan="1">Khách hàng</th>
                                                    <th class="sorting" tabindex="0" aria-controls="multi-colum-dt" rowspan="1" colspan="1">Số điện thoại</th>
                                                    <th class="sorting" tabindex="0" aria-controls="multi-colum-dt" rowspan="1" colspan="1">Tổng giá</th>
                                                    <th class="sorting" tabindex="0" aria-controls="multi-colum-dt" rowspan="1" colspan="1" style="width: 90px;">Xác nhận đã hoàn thành</th>
                                                    <th class="sorting" tabindex="0" aria-controls="multi-colum-dt" rowspan="1" colspan="1" style="width: 50px;">Chức năng</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                            </tbody>
                                            <tfoot>

                                            </tfoot>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </div>
</div>
@Html.Partial("ModalDonHang", Model)
@section ViewSpecificJavascriptAdmin
    {
    <script src="~/Content/Datatable11019/js/jquery.dataTables.min.js"></script>
    <script src="~/Content/Datatable11019/js/dataTables.bootstrap4.min.js"></script>
    <link href="~/Content/Select2-403/css/select2.min.css" rel="stylesheet" />
    <script src="~/Content/Select2-403/js/select2.full.min.js"></script>
    <script src="~/Areas/Admin/Css/js/IndexAdmin.js"></script>
    <script src="~/Areas/Admin/Css/js/DonHang.js"></script>
    <script src="~/Content/ckeditor/ckeditor.js"></script>
}

